In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import time
# 设置忽略警告
import warnings
warnings.filterwarnings('ignore')

In [2]:
#显示所有列
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)

### 设置不使用科学计数法  #为了直观的显示数字，不采用科学计数法
np.set_printoptions(precision=3, suppress=True)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
### 获取原始数据 完整版的数据
# datas/happiness_train_complete.csv
# datas/happiness_test_complete.csv
train_datas = pd.read_csv('./datas/happiness_train_complete.csv',sep=',',encoding='gb2312')
test_datas = pd.read_csv('./datas/happiness_test_complete.csv',sep=',',encoding='gb2312')

In [4]:
print(train_datas.shape)
print(test_datas.shape)

(8000, 140)
(2968, 139)

In [5]:
print(train_datas.columns.tolist())

['id', 'happiness', 'survey_type', 'province', 'city', 'county', 'survey_time', 'gender', 'birth', 'nationality', 'religion', 'religion_freq', 'edu', 'edu_other', 'edu_status', 'edu_yr', 'income', 'political', 'join_party', 'floor_area', 'property_0', 'property_1', 'property_2', 'property_3', 'property_4', 'property_5', 'property_6', 'property_7', 'property_8', 'property_other', 'height_cm', 'weight_jin', 'health', 'health_problem', 'depression', 'hukou', 'hukou_loc', 'media_1', 'media_2', 'media_3', 'media_4', 'media_5', 'media_6', 'leisure_1', 'leisure_2', 'leisure_3', 'leisure_4', 'leisure_5', 'leisure_6', 'leisure_7', 'leisure_8', 'leisure_9', 'leisure_10', 'leisure_11', 'leisure_12', 'socialize', 'relax', 'learn', 'social_neighbor', 'social_friend', 'socia_outing', 'equity', 'class', 'class_10_before', 'class_10_after', 'class_14', 'work_exper', 'work_status', 'work_yr', 'work_type', 'work_manage', 'insur_1', 'insur_2', 'insur_3', 'insur_4', 'family_income', 'family_m', 'family_status', 'house', 'car', 'invest_0', 'invest_1', 'invest_2', 'invest_3', 'invest_4', 'invest_5', 'invest_6', 'invest_7', 'invest_8', 'invest_other', 'son', 'daughter', 'minor_child', 'marital', 'marital_1st', 's_birth', 'marital_now', 's_edu', 's_political', 's_hukou', 's_income', 's_work_exper', 's_work_status', 's_work_type', 'f_birth', 'f_edu', 'f_political', 'f_work_14', 'm_birth', 'm_edu', 'm_political', 'm_work_14', 'status_peer', 'status_3_before', 'view', 'inc_ability', 'inc_exp', 'trust_1', 'trust_2', 'trust_3', 'trust_4', 'trust_5', 'trust_6', 'trust_7', 'trust_8', 'trust_9', 'trust_10', 'trust_11', 'trust_12', 'trust_13', 'neighbor_familiarity', 'public_service_1', 'public_service_2', 'public_service_3', 'public_service_4', 'public_service_5', 'public_service_6', 'public_service_7', 'public_service_8', 'public_service_9']

In [6]:
print(test_datas.columns.tolist())

['id', 'survey_type', 'province', 'city', 'county', 'survey_time', 'gender', 'birth', 'nationality', 'religion', 'religion_freq', 'edu', 'edu_other', 'edu_status', 'edu_yr', 'income', 'political', 'join_party', 'floor_area', 'property_0', 'property_1', 'property_2', 'property_3', 'property_4', 'property_5', 'property_6', 'property_7', 'property_8', 'property_other', 'height_cm', 'weight_jin', 'health', 'health_problem', 'depression', 'hukou', 'hukou_loc', 'media_1', 'media_2', 'media_3', 'media_4', 'media_5', 'media_6', 'leisure_1', 'leisure_2', 'leisure_3', 'leisure_4', 'leisure_5', 'leisure_6', 'leisure_7', 'leisure_8', 'leisure_9', 'leisure_10', 'leisure_11', 'leisure_12', 'socialize', 'relax', 'learn', 'social_neighbor', 'social_friend', 'socia_outing', 'equity', 'class', 'class_10_before', 'class_10_after', 'class_14', 'work_exper', 'work_status', 'work_yr', 'work_type', 'work_manage', 'insur_1', 'insur_2', 'insur_3', 'insur_4', 'family_income', 'family_m', 'family_status', 'house', 'car', 'invest_0', 'invest_1', 'invest_2', 'invest_3', 'invest_4', 'invest_5', 'invest_6', 'invest_7', 'invest_8', 'invest_other', 'son', 'daughter', 'minor_child', 'marital', 'marital_1st', 's_birth', 'marital_now', 's_edu', 's_political', 's_hukou', 's_income', 's_work_exper', 's_work_status', 's_work_type', 'f_birth', 'f_edu', 'f_political', 'f_work_14', 'm_birth', 'm_edu', 'm_political', 'm_work_14', 'status_peer', 'status_3_before', 'view', 'inc_ability', 'inc_exp', 'trust_1', 'trust_2', 'trust_3', 'trust_4', 'trust_5', 'trust_6', 'trust_7', 'trust_8', 'trust_9', 'trust_10', 'trust_11', 'trust_12', 'trust_13', 'neighbor_familiarity', 'public_service_1', 'public_service_2', 'public_service_3', 'public_service_4', 'public_service_5', 'public_service_6', 'public_service_7', 'public_service_8', 'public_service_9']

In [7]:
# print(train_datas.columns.tolist())

In [8]:
print(train_datas.head())
### verbose=True显示
### null_counts=True 显示non null
print(train_datas.info(verbose=True,null_counts=True))

   id  happiness  survey_type  province  city  county      survey_time  \
0   1          4            1        12    32      59   2015/8/4 14:18
1   2          4            2        18    52      85  2015/7/21 15:04
2   3          4            2        29    83     126  2015/7/21 13:24
3   4          5            2        10    28      51  2015/7/25 17:33
4   5          4            1         7    18      36   2015/8/10 9:50

   gender  birth  nationality  religion  religion_freq  edu edu_other  \
0       1   1959            1         1              1   11       NaN
1       1   1992            1         1              1   12       NaN
2       2   1967            1         0              3    4       NaN
3       2   1943            1         1              1    3       NaN
4       2   1994            1         1              1   12       NaN

   edu_status  edu_yr  income  political  join_party  floor_area  property_0  \
0        4.00   -2.00   20000          1         nan       45.00           0
1        4.00 2013.00   20000          1         nan      110.00           0
2        4.00   -2.00    2000          1         nan      120.00           0
3        4.00 1959.00    6420          1         nan       78.00           0
4        1.00 2014.00      -1          2         nan       70.00           0

   property_1  property_2  property_3  property_4  property_5  property_6  \
0           1           0           0           0           0           0
1           0           0           0           1           0           0
2           1           1           0           0           0           0
3           0           0           1           0           0           0
4           0           0           0           1           0           0

   property_7  property_8 property_other  height_cm  weight_jin  health  \
0           0           0            NaN        176         155       3
1           0           0            NaN        170         110       5
2           0           0            NaN        160         122       4
3           0           0            NaN        163         170       4
4           0           0            NaN        165         110       5

   health_problem  depression  hukou  hukou_loc  media_1  media_2  media_3  \
0               2           5      5       2.00        4        2        5
1               4           3      1       1.00        2        2        1
2               4           5      1       1.00        2        2        2
3               4           4      1       2.00        2        1        1
4               5           3      2       3.00        1        3        4

   media_4  media_5  media_6  leisure_1  leisure_2  leisure_3  leisure_4  \
0        5        4        3          1          4          3          1
1        3        5        1          2          3          4          3
2        5        1        3          1          4          4          3
3        5        1        1          1          5          2          4
4        2        5        5          3          3          3          2

   leisure_5  leisure_6  leisure_7  leisure_8  leisure_9  leisure_10  \
0          2          3          4          1          4           5
1          5          4          3          2          3           4
2          5          4          4          2          3           5
3          5          4          5          1          1           5
4          4          4          3          5          2           5

   leisure_11  leisure_12  socialize  relax  learn  social_neighbor  \
0           4           1          2      4      3             3.00
1           5           1          2      4      3             6.00
2           5           5          3      4      2             2.00
3           5           5          2      4      4             1.00
4           5           1          4      3      4             7.00

   social_friend  socia_outing  equity  class  class_10_before  \
0           3.00             2       3      3                3
1           2.00             1       3      6                4
2           5.00             2       4      5                4
3           6.00             1       4      5                5
4           5.00             3       2      1                1

   class_10_after  class_14  work_exper  work_status  work_yr  work_type  \
0               3         1           1         3.00    30.00       1.00
1               8         5           1         3.00     2.00       1.00
2               6         3           2          nan      nan        nan
3               7         2           4          nan      nan        nan
4               1         4           6          nan      nan        nan

   work_manage  insur_1  insur_2  insur_3  insur_4  family_income  family_m  \
0         2.00        1        1        1        2       60000.00         2
1         3.00        1        1        1        1       40000.00         3
2          nan        1        1        2        2        8000.00         3
3          nan        2        2        2        2       12000.00         3
4          nan        1        2        2        2          -2.00         4

   family_status  house  car  invest_0  invest_1  invest_2  invest_3  \
0              2      1    2         0         1         0         0
1              4      1    2         0         1         0         0
2              3      1    2         0         1         0         0
3              3      1    1         0         1         0         0
4              3      1    1         0         1         0         0

   invest_4  invest_5  invest_6  invest_7  invest_8 invest_other  son  \
0         0         0         0         0         0          NaN    1
1         0         0         0         0         0          NaN    0
2         0         0         0         0         0          NaN    0
3         0         0         0         0         0          NaN    1
4         0         0         0         0         0          NaN    0

   daughter  minor_child  marital  marital_1st  s_birth  marital_now  s_edu  \
0         0         0.00        3      1984.00  1958.00      1984.00   6.00
1         0          nan        1          nan      nan          nan    nan
2         2         1.00        3      1990.00  1968.00      1990.00   3.00
3         4         0.00        7      1960.00      nan          nan    nan
4         0          nan        1          nan      nan          nan    nan

   s_political  s_hukou  s_income  s_work_exper  s_work_status  s_work_type  \
0         1.00     5.00  40000.00          5.00            nan          nan
1          nan      nan       nan           nan            nan          nan
2         1.00     1.00   6000.00          3.00            nan          nan
3          nan      nan       nan           nan            nan          nan
4          nan      nan       nan           nan            nan          nan

   f_birth  f_edu  f_political  f_work_14  m_birth  m_edu  m_political  \
0       -2      4            4          1       -2      4            1
1     1972      3            1          2     1973      3            1
2       -2      1            1          2       -2      1            1
3       -2     14            1          2       -2      1            1
4     1970      6            1         10     1972      4            1

   m_work_14  status_peer  status_3_before  view  inc_ability   inc_exp  \
0          1            3                2     4            3  50000.00
1          2            1                1     4            2  50000.00
2          2            2                1     4            2  80000.00
3          2            2                1     3            2  10000.00
4         15            3                2     3           -8 200000.00

   trust_1  trust_2  trust_3  trust_4  trust_5  trust_6  trust_7  trust_8  \
0        4        2       -8       -8        5        3        2        3
1        5        4        4        3        5        3        3        3
2        3        3        3        3        4        3        3        3
3        3        3        4        3        5        3        3        5
4        4        3        3        3        5        5        3        4

   trust_9  trust_10  trust_11  trust_12  trust_13  neighbor_familiarity  \
0        4         3        -8         4         1                     4
1        2         3         3         3         2                     3
2        3         3        -8         3         1                     4
3        4         3         3         3         2                     3
4        3         3         3         3         2                     2

   public_service_1  public_service_2  public_service_3  public_service_4  \
0                50                60                50                50
1                90                70                70                80
2                90                80                75                79
3               100                90                70                80
4                50                50                50                50

   public_service_5  public_service_6  public_service_7  public_service_8  \
0             30.00                30                50                50
1             85.00                70                90                60
2             80.00                90                90                90
3             80.00                90                90                80
4             50.00                50                50                50

   public_service_9
0                50
1                60
2                75
3                80
4                50
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 140 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8000 non-null   int64
 1   happiness             8000 non-null   int64
 2   survey_type           8000 non-null   int64
 3   province              8000 non-null   int64
 4   city                  8000 non-null   int64
 5   county                8000 non-null   int64
 6   survey_time           8000 non-null   object
 7   gender                8000 non-null   int64
 8   birth                 8000 non-null   int64
 9   nationality           8000 non-null   int64
 10  religion              8000 non-null   int64
 11  religion_freq         8000 non-null   int64
 12  edu                   8000 non-null   int64
 13  edu_other             3 non-null      object
 14  edu_status            6880 non-null   float64
 15  edu_yr                6028 non-null   float64
 16  income                8000 non-null   int64
 17  political             8000 non-null   int64
 18  join_party            824 non-null    float64
 19  floor_area            8000 non-null   float64
 20  property_0            8000 non-null   int64
 21  property_1            8000 non-null   int64
 22  property_2            8000 non-null   int64
 23  property_3            8000 non-null   int64
 24  property_4            8000 non-null   int64
 25  property_5            8000 non-null   int64
 26  property_6            8000 non-null   int64
 27  property_7            8000 non-null   int64
 28  property_8            8000 non-null   int64
 29  property_other        66 non-null     object
 30  height_cm             8000 non-null   int64
 31  weight_jin            8000 non-null   int64
 32  health                8000 non-null   int64
 33  health_problem        8000 non-null   int64
 34  depression            8000 non-null   int64
 35  hukou                 8000 non-null   int64
 36  hukou_loc             7996 non-null   float64
 37  media_1               8000 non-null   int64
 38  media_2               8000 non-null   int64
 39  media_3               8000 non-null   int64
 40  media_4               8000 non-null   int64
 41  media_5               8000 non-null   int64
 42  media_6               8000 non-null   int64
 43  leisure_1             8000 non-null   int64
 44  leisure_2             8000 non-null   int64
 45  leisure_3             8000 non-null   int64
 46  leisure_4             8000 non-null   int64
 47  leisure_5             8000 non-null   int64
 48  leisure_6             8000 non-null   int64
 49  leisure_7             8000 non-null   int64
 50  leisure_8             8000 non-null   int64
 51  leisure_9             8000 non-null   int64
 52  leisure_10            8000 non-null   int64
 53  leisure_11            8000 non-null   int64
 54  leisure_12            8000 non-null   int64
 55  socialize             8000 non-null   int64
 56  relax                 8000 non-null   int64
 57  learn                 8000 non-null   int64
 58  social_neighbor       7204 non-null   float64
 59  social_friend         7204 non-null   float64
 60  socia_outing          8000 non-null   int64
 61  equity                8000 non-null   int64
 62  class                 8000 non-null   int64
 63  class_10_before       8000 non-null   int64
 64  class_10_after        8000 non-null   int64
 65  class_14              8000 non-null   int64
 66  work_exper            8000 non-null   int64
 67  work_status           2951 non-null   float64
 68  work_yr               2951 non-null   float64
 69  work_type             2951 non-null   float64
 70  work_manage           2951 non-null   float64
 71  insur_1               8000 non-null   int64
 72  insur_2               8000 non-null   int64
 73  insur_3               8000 non-null   int64
 74  insur_4               8000 non-null   int64
 75  family_income         7999 non-null   float64
 76  family_m              8000 non-null   int64
 77  family_status         8000 non-null   int64
 78  house                 8000 non-null   int64
 79  car                   8000 non-null   int64
 80  invest_0              8000 non-null   int64
 81  invest_1              8000 non-null   int64
 82  invest_2              8000 non-null   int64
 83  invest_3              8000 non-null   int64
 84  invest_4              8000 non-null   int64
 85  invest_5              8000 non-null   int64
 86  invest_6              8000 non-null   int64
 87  invest_7              8000 non-null   int64
 88  invest_8              8000 non-null   int64
 89  invest_other          29 non-null     object
 90  son                   8000 non-null   int64
 91  daughter              8000 non-null   int64
 92  minor_child           6934 non-null   float64
 93  marital               8000 non-null   int64
 94  marital_1st           7172 non-null   float64
 95  s_birth               6282 non-null   float64
 96  marital_now           6230 non-null   float64
 97  s_edu                 6282 non-null   float64
 98  s_political           6282 non-null   float64
 99  s_hukou               6282 non-null   float64
 100 s_income              6282 non-null   float64
 101 s_work_exper          6282 non-null   float64
 102 s_work_status         2565 non-null   float64
 103 s_work_type           2565 non-null   float64
 104 f_birth               8000 non-null   int64
 105 f_edu                 8000 non-null   int64
 106 f_political           8000 non-null   int64
 107 f_work_14             8000 non-null   int64
 108 m_birth               8000 non-null   int64
 109 m_edu                 8000 non-null   int64
 110 m_political           8000 non-null   int64
 111 m_work_14             8000 non-null   int64
 112 status_peer           8000 non-null   int64
 113 status_3_before       8000 non-null   int64
 114 view                  8000 non-null   int64
 115 inc_ability           8000 non-null   int64
 116 inc_exp               8000 non-null   float64
 117 trust_1               8000 non-null   int64
 118 trust_2               8000 non-null   int64
 119 trust_3               8000 non-null   int64
 120 trust_4               8000 non-null   int64
 121 trust_5               8000 non-null   int64
 122 trust_6               8000 non-null   int64
 123 trust_7               8000 non-null   int64
 124 trust_8               8000 non-null   int64
 125 trust_9               8000 non-null   int64
 126 trust_10              8000 non-null   int64
 127 trust_11              8000 non-null   int64
 128 trust_12              8000 non-null   int64
 129 trust_13              8000 non-null   int64
 130 neighbor_familiarity  8000 non-null   int64
 131 public_service_1      8000 non-null   int64
 132 public_service_2      8000 non-null   int64
 133 public_service_3      8000 non-null   int64
 134 public_service_4      8000 non-null   int64
 135 public_service_5      8000 non-null   float64
 136 public_service_6      8000 non-null   int64
 137 public_service_7      8000 non-null   int64
 138 public_service_8      8000 non-null   int64
 139 public_service_9      8000 non-null   int64
dtypes: float64(25), int64(111), object(4)
memory usage: 8.5+ MB
None

In [9]:
train_datas_Y = train_datas[['happiness']]
print(train_datas_Y['happiness'].value_counts())
print(train_datas_Y[:5])
# print('---------------')
# train_datas_Y1 = train_datas.iloc[:,1]
# print(train_datas_Y1[:5])

 4    4818
 5    1410
 3    1159
 2     497
 1     104
-8      12
Name: happiness, dtype: int64
   happiness
0          4
1          4
2          4
3          5
4          4

In [10]:
train_datas_X = train_datas.drop(['happiness'],axis=1)
print(train_datas_X.head())
print(train_datas_X.shape)

   id  survey_type  province  city  county      survey_time  gender  birth  \
0   1            1        12    32      59   2015/8/4 14:18       1   1959
1   2            2        18    52      85  2015/7/21 15:04       1   1992
2   3            2        29    83     126  2015/7/21 13:24       2   1967
3   4            2        10    28      51  2015/7/25 17:33       2   1943
4   5            1         7    18      36   2015/8/10 9:50       2   1994

   nationality  religion  religion_freq  edu edu_other  edu_status  edu_yr  \
0            1         1              1   11       NaN        4.00   -2.00
1            1         1              1   12       NaN        4.00 2013.00
2            1         0              3    4       NaN        4.00   -2.00
3            1         1              1    3       NaN        4.00 1959.00
4            1         1              1   12       NaN        1.00 2014.00

   income  political  join_party  floor_area  property_0  property_1  \
0   20000          1         nan       45.00           0           1
1   20000          1         nan      110.00           0           0
2    2000          1         nan      120.00           0           1
3    6420          1         nan       78.00           0           0
4      -1          2         nan       70.00           0           0

   property_2  property_3  property_4  property_5  property_6  property_7  \
0           0           0           0           0           0           0
1           0           0           1           0           0           0
2           1           0           0           0           0           0
3           0           1           0           0           0           0
4           0           0           1           0           0           0

   property_8 property_other  height_cm  weight_jin  health  health_problem  \
0           0            NaN        176         155       3               2
1           0            NaN        170         110       5               4
2           0            NaN        160         122       4               4
3           0            NaN        163         170       4               4
4           0            NaN        165         110       5               5

   depression  hukou  hukou_loc  media_1  media_2  media_3  media_4  media_5  \
0           5      5       2.00        4        2        5        5        4
1           3      1       1.00        2        2        1        3        5
2           5      1       1.00        2        2        2        5        1
3           4      1       2.00        2        1        1        5        1
4           3      2       3.00        1        3        4        2        5

   media_6  leisure_1  leisure_2  leisure_3  leisure_4  leisure_5  leisure_6  \
0        3          1          4          3          1          2          3
1        1          2          3          4          3          5          4
2        3          1          4          4          3          5          4
3        1          1          5          2          4          5          4
4        5          3          3          3          2          4          4

   leisure_7  leisure_8  leisure_9  leisure_10  leisure_11  leisure_12  \
0          4          1          4           5           4           1
1          3          2          3           4           5           1
2          4          2          3           5           5           5
3          5          1          1           5           5           5
4          3          5          2           5           5           1

   socialize  relax  learn  social_neighbor  social_friend  socia_outing  \
0          2      4      3             3.00           3.00             2
1          2      4      3             6.00           2.00             1
2          3      4      2             2.00           5.00             2
3          2      4      4             1.00           6.00             1
4          4      3      4             7.00           5.00             3

   equity  class  class_10_before  class_10_after  class_14  work_exper  \
0       3      3                3               3         1           1
1       3      6                4               8         5           1
2       4      5                4               6         3           2
3       4      5                5               7         2           4
4       2      1                1               1         4           6

   work_status  work_yr  work_type  work_manage  insur_1  insur_2  insur_3  \
0         3.00    30.00       1.00         2.00        1        1        1
1         3.00     2.00       1.00         3.00        1        1        1
2          nan      nan        nan          nan        1        1        2
3          nan      nan        nan          nan        2        2        2
4          nan      nan        nan          nan        1        2        2

   insur_4  family_income  family_m  family_status  house  car  invest_0  \
0        2       60000.00         2              2      1    2         0
1        1       40000.00         3              4      1    2         0
2        2        8000.00         3              3      1    2         0
3        2       12000.00         3              3      1    1         0
4        2          -2.00         4              3      1    1         0

   invest_1  invest_2  invest_3  invest_4  invest_5  invest_6  invest_7  \
0         1         0         0         0         0         0         0
1         1         0         0         0         0         0         0
2         1         0         0         0         0         0         0
3         1         0         0         0         0         0         0
4         1         0         0         0         0         0         0

   invest_8 invest_other  son  daughter  minor_child  marital  marital_1st  \
0         0          NaN    1         0         0.00        3      1984.00
1         0          NaN    0         0          nan        1          nan
2         0          NaN    0         2         1.00        3      1990.00
3         0          NaN    1         4         0.00        7      1960.00
4         0          NaN    0         0          nan        1          nan

   s_birth  marital_now  s_edu  s_political  s_hukou  s_income  s_work_exper  \
0  1958.00      1984.00   6.00         1.00     5.00  40000.00          5.00
1      nan          nan    nan          nan      nan       nan           nan
2  1968.00      1990.00   3.00         1.00     1.00   6000.00          3.00
3      nan          nan    nan          nan      nan       nan           nan
4      nan          nan    nan          nan      nan       nan           nan

   s_work_status  s_work_type  f_birth  f_edu  f_political  f_work_14  \
0            nan          nan       -2      4            4          1
1            nan          nan     1972      3            1          2
2            nan          nan       -2      1            1          2
3            nan          nan       -2     14            1          2
4            nan          nan     1970      6            1         10

   m_birth  m_edu  m_political  m_work_14  status_peer  status_3_before  view  \
0       -2      4            1          1            3                2     4
1     1973      3            1          2            1                1     4
2       -2      1            1          2            2                1     4
3       -2      1            1          2            2                1     3
4     1972      4            1         15            3                2     3

   inc_ability   inc_exp  trust_1  trust_2  trust_3  trust_4  trust_5  \
0            3  50000.00        4        2       -8       -8        5
1            2  50000.00        5        4        4        3        5
2            2  80000.00        3        3        3        3        4
3            2  10000.00        3        3        4        3        5
4           -8 200000.00        4        3        3        3        5

   trust_6  trust_7  trust_8  trust_9  trust_10  trust_11  trust_12  trust_13  \
0        3        2        3        4         3        -8         4         1
1        3        3        3        2         3         3         3         2
2        3        3        3        3         3        -8         3         1
3        3        3        5        4         3         3         3         2
4        5        3        4        3         3         3         3         2

   neighbor_familiarity  public_service_1  public_service_2  public_service_3  \
0                     4                50                60                50
1                     3                90                70                70
2                     4                90                80                75
3                     3               100                90                70
4                     2                50                50                50

   public_service_4  public_service_5  public_service_6  public_service_7  \
0                50             30.00                30                50
1                80             85.00                70                90
2                79             80.00                90                90
3                80             80.00                90                90
4                50             50.00                50                50

   public_service_8  public_service_9
0                50                50
1                60                60
2                90                75
3                80                80
4                50                50
(8000, 139)

In [11]:
all_datas = pd.concat(([train_datas_X,test_datas]),axis=0,ignore_index=True)
print(all_datas.shape)
# print(all_datas.head())
# print('-------------')
# print(all_datas.tail())

(10968, 139)

## 数据处理的思路：
  - 0、先删除一些缺省比较多的记录，或者特征？（一般在训练阶段没有标签的数据我们也是不能要的）
  - 1、时间的数据需要进行时间数据的提取 time striptime()
  - 2、连续的数据进行分段处理===》转换为离散数据
  - 3、文本数据的提取：oneHOT，TFIDF，词向量  （文本向量化）
  - 4、对连续型的数据进行缺失值的填充 一般可以填充为0，均值，众数，中位数，经验数据
  - 5、对离散数据进行缺失值的填充 (缺失值单独作为一个类别，根据标签类别数量进行填充，经验数据) 哑编码
  - 6、对于我们处理好后的数据，还可以进行一个相关性的检验，对于一些相关系数绝对值比较大的特征只保留其中一个特征（可以考虑的，但是不是说效果就一定好，这样做好处是特征降维了，节约我们的训练成本）
  - 7、根据已有特征提取新的特征。
  # PCA，标准化，归一化、特征选择等特征工程这些工作是在我们把数据进行预处理后（数值型的特征）在进行的

In [12]:
### 在统计nan值前对数据中的异常值进行替换成nan值
## -1 = 不适用; -2 = 不知道; -3 = 拒绝回答; -8 = 无法回答;
### inplace=True 表示在原对象上进行我们的修改
### inplace=False 表示我们修改后会返回一个新对象，原对象不会改变，所以这时候我们要重新赋值
all_datas.replace([-1,-2,-3,-8],np.nan,inplace=True)
print(all_datas.info(verbose=True,null_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10968 entries, 0 to 10967
Data columns (total 139 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10968 non-null  int64
 1   survey_type           10968 non-null  int64
 2   province              10968 non-null  int64
 3   city                  10968 non-null  int64
 4   county                10968 non-null  int64
 5   survey_time           10968 non-null  object
 6   gender                10968 non-null  int64
 7   birth                 10968 non-null  int64
 8   nationality           10948 non-null  float64
 9   religion              10822 non-null  float64
 10  religion_freq         10946 non-null  float64
 11  edu                   10949 non-null  float64
 12  edu_other             6 non-null      object
 13  edu_status            9361 non-null   float64
 14  edu_yr                6533 non-null   float64
 15  income                10363 non-null  float64
 16  political             10921 non-null  float64
 17  join_party            1006 non-null   float64
 18  floor_area            10968 non-null  float64
 19  property_0            10968 non-null  int64
 20  property_1            10968 non-null  int64
 21  property_2            10968 non-null  int64
 22  property_3            10968 non-null  int64
 23  property_4            10968 non-null  int64
 24  property_5            10968 non-null  int64
 25  property_6            10968 non-null  int64
 26  property_7            10968 non-null  int64
 27  property_8            10968 non-null  int64
 28  property_other        89 non-null     object
 29  height_cm             10968 non-null  int64
 30  weight_jin            10968 non-null  int64
 31  health                10961 non-null  float64
 32  health_problem        10916 non-null  float64
 33  depression            10942 non-null  float64
 34  hukou                 10968 non-null  int64
 35  hukou_loc             10964 non-null  float64
 36  media_1               10966 non-null  float64
 37  media_2               10963 non-null  float64
 38  media_3               10963 non-null  float64
 39  media_4               10964 non-null  float64
 40  media_5               10951 non-null  float64
 41  media_6               10947 non-null  float64
 42  leisure_1             10961 non-null  float64
 43  leisure_2             10946 non-null  float64
 44  leisure_3             10947 non-null  float64
 45  leisure_4             10952 non-null  float64
 46  leisure_5             10876 non-null  float64
 47  leisure_6             10947 non-null  float64
 48  leisure_7             10924 non-null  float64
 49  leisure_8             10944 non-null  float64
 50  leisure_9             10941 non-null  float64
 51  leisure_10            10921 non-null  float64
 52  leisure_11            10920 non-null  float64
 53  leisure_12            10931 non-null  float64
 54  socialize             10962 non-null  float64
 55  relax                 10946 non-null  float64
 56  learn                 10940 non-null  float64
 57  social_neighbor       9854 non-null   float64
 58  social_friend         9811 non-null   float64
 59  socia_outing          10897 non-null  float64
 60  equity                10904 non-null  float64
 61  class                 10862 non-null  float64
 62  class_10_before       10820 non-null  float64
 63  class_10_after        10330 non-null  float64
 64  class_14              10777 non-null  float64
 65  work_exper            10968 non-null  int64
 66  work_status           3993 non-null   float64
 67  work_yr               3820 non-null   float64
 68  work_type             3937 non-null   float64
 69  work_manage           3943 non-null   float64
 70  insur_1               10917 non-null  float64
 71  insur_2               10806 non-null  float64
 72  insur_3               10747 non-null  float64
 73  insur_4               10719 non-null  float64
 74  family_income         10037 non-null  float64
 75  family_m              10935 non-null  float64
 76  family_status         10904 non-null  float64
 77  house                 10794 non-null  float64
 78  car                   10955 non-null  float64
 79  invest_0              10968 non-null  int64
 80  invest_1              10968 non-null  int64
 81  invest_2              10968 non-null  int64
 82  invest_3              10968 non-null  int64
 83  invest_4              10968 non-null  int64
 84  invest_5              10968 non-null  int64
 85  invest_6              10968 non-null  int64
 86  invest_7              10968 non-null  int64
 87  invest_8              10968 non-null  int64
 88  invest_other          45 non-null     object
 89  son                   10954 non-null  float64
 90  daughter              10952 non-null  float64
 91  minor_child           9507 non-null   float64
 92  marital               10968 non-null  int64
 93  marital_1st           9067 non-null   float64
 94  s_birth               8601 non-null   float64
 95  marital_now           8030 non-null   float64
 96  s_edu                 8555 non-null   float64
 97  s_political           8577 non-null   float64
 98  s_hukou               8578 non-null   float64
 99  s_income              7905 non-null   float64
 100 s_work_exper          8601 non-null   float64
 101 s_work_status         3484 non-null   float64
 102 s_work_type           3467 non-null   float64
 103 f_birth               6304 non-null   float64
 104 f_edu                 10133 non-null  float64
 105 f_political           10686 non-null  float64
 106 f_work_14             10550 non-null  float64
 107 m_birth               6520 non-null   float64
 108 m_edu                 10283 non-null  float64
 109 m_political           10756 non-null  float64
 110 m_work_14             10563 non-null  float64
 111 status_peer           10903 non-null  float64
 112 status_3_before       10910 non-null  float64
 113 view                  10663 non-null  float64
 114 inc_ability           9643 non-null   float64
 115 inc_exp               9467 non-null   float64
 116 trust_1               10859 non-null  float64
 117 trust_2               10654 non-null  float64
 118 trust_3               9569 non-null   float64
 119 trust_4               9555 non-null   float64
 120 trust_5               10904 non-null  float64
 121 trust_6               9406 non-null   float64
 122 trust_7               10658 non-null  float64
 123 trust_8               9587 non-null   float64
 124 trust_9               10320 non-null  float64
 125 trust_10              8517 non-null   float64
 126 trust_11              5512 non-null   float64
 127 trust_12              7586 non-null   float64
 128 trust_13              10754 non-null  float64
 129 neighbor_familiarity  10957 non-null  float64
 130 public_service_1      10650 non-null  float64
 131 public_service_2      10735 non-null  float64
 132 public_service_3      10379 non-null  float64
 133 public_service_4      10524 non-null  float64
 134 public_service_5      10457 non-null  float64
 135 public_service_6      10647 non-null  float64
 136 public_service_7      10563 non-null  float64
 137 public_service_8      10383 non-null  float64
 138 public_service_9      10563 non-null  float64
dtypes: float64(105), int64(30), object(4)
memory usage: 11.6+ MB
None

In [13]:
###查看所有字段的缺失值数量
# print(all_datas.isnull().sum())
nan_num = all_datas.isnull().sum()
nan_num

id                          0
survey_type                 0
province                    0
city                        0
county                      0
survey_time                 0
gender                      0
birth                       0
nationality                20
religion                  146
religion_freq              22
edu                        19
edu_other               10962
edu_status               1607
edu_yr                   4435
income                    605
political                  47
join_party               9962
floor_area                  0
property_0                  0
property_1                  0
property_2                  0
property_3                  0
property_4                  0
property_5                  0
property_6                  0
property_7                  0
property_8                  0
property_other          10879
height_cm                   0
weight_jin                  0
health                      7
health_problem             52
depression                 26
hukou                       0
hukou_loc                   4
media_1                     2
media_2                     5
media_3                     5
media_4                     4
media_5                    17
media_6                    21
leisure_1                   7
leisure_2                  22
leisure_3                  21
leisure_4                  16
leisure_5                  92
leisure_6                  21
leisure_7                  44
leisure_8                  24
leisure_9                  27
leisure_10                 47
leisure_11                 48
leisure_12                 37
socialize                   6
relax                      22
learn                      28
social_neighbor          1114
social_friend            1157
socia_outing               71
equity                     64
class                     106
class_10_before           148
class_10_after            638
class_14                  191
work_exper                  0
work_status              6975
work_yr                  7148
work_type                7031
work_manage              7025
insur_1                    51
insur_2                   162
insur_3                   221
insur_4                   249
family_income             931
family_m                   33
family_status              64
house                     174
car                        13
invest_0                    0
invest_1                    0
invest_2                    0
invest_3                    0
invest_4                    0
invest_5                    0
invest_6                    0
invest_7                    0
invest_8                    0
invest_other            10923
son                        14
daughter                   16
minor_child              1461
marital                     0
marital_1st              1901
s_birth                  2367
marital_now              2938
s_edu                    2413
s_political              2391
s_hukou                  2390
s_income                 3063
s_work_exper             2367
s_work_status            7484
s_work_type              7501
f_birth                  4664
f_edu                     835
f_political               282
f_work_14                 418
m_birth                  4448
m_edu                     685
m_political               212
m_work_14                 405
status_peer                65
status_3_before            58
view                      305
inc_ability              1325
inc_exp                  1501
trust_1                   109
trust_2                   314
trust_3                  1399
trust_4                  1413
trust_5                    64
trust_6                  1562
trust_7                   310
trust_8                  1381
trust_9                   648
trust_10                 2451
trust_11                 5456
trust_12                 3382
trust_13                  214
neighbor_familiarity       11
public_service_1          318
public_service_2          233
public_service_3          589
public_service_4          444
public_service_5          511
public_service_6          321
public_service_7          405
public_service_8          585
public_service_9          405
dtype: int64

In [14]:
# 获取缺失值为0的字段名称 这个我们是不需要进行缺失值的填充 bool索引
#NOTE：但是有可能要进行其他的处理
nan_num0_list = list(nan_num[nan_num==0].index)
print(nan_num0_list)
print(len(nan_num0_list))
# print(all_datas.head())
df_nan0 = all_datas[nan_num0_list]
print(df_nan0.head())

['id', 'survey_type', 'province', 'city', 'county', 'survey_time', 'gender', 'birth', 'floor_area', 'property_0', 'property_1', 'property_2', 'property_3', 'property_4', 'property_5', 'property_6', 'property_7', 'property_8', 'height_cm', 'weight_jin', 'hukou', 'work_exper', 'invest_0', 'invest_1', 'invest_2', 'invest_3', 'invest_4', 'invest_5', 'invest_6', 'invest_7', 'invest_8', 'marital']
32
   id  survey_type  province  city  county      survey_time  gender  birth  \
0   1            1        12    32      59   2015/8/4 14:18       1   1959
1   2            2        18    52      85  2015/7/21 15:04       1   1992
2   3            2        29    83     126  2015/7/21 13:24       2   1967
3   4            2        10    28      51  2015/7/25 17:33       2   1943
4   5            1         7    18      36   2015/8/10 9:50       2   1994

   floor_area  property_0  property_1  property_2  property_3  property_4  \
0       45.00           0           1           0           0           0
1      110.00           0           0           0           0           1
2      120.00           0           1           1           0           0
3       78.00           0           0           0           1           0
4       70.00           0           0           0           0           1

   property_5  property_6  property_7  property_8  height_cm  weight_jin  \
0           0           0           0           0        176         155
1           0           0           0           0        170         110
2           0           0           0           0        160         122
3           0           0           0           0        163         170
4           0           0           0           0        165         110

   hukou  work_exper  invest_0  invest_1  invest_2  invest_3  invest_4  \
0      5           1         0         1         0         0         0
1      1           1         0         1         0         0         0
2      1           2         0         1         0         0         0
3      1           4         0         1         0         0         0
4      2           6         0         1         0         0         0

   invest_5  invest_6  invest_7  invest_8  marital
0         0         0         0         0        3
1         0         0         0         0        1
2         0         0         0         0        3
3         0         0         0         0        7
4         0         0         0         0        1

In [15]:
print(time.strptime('2015/8/4 14:18','%Y/%m/%d %H:%M'))

time.struct_time(tm_year=2015, tm_mon=8, tm_mday=4, tm_hour=14, tm_min=18, tm_sec=0, tm_wday=1, tm_yday=216, tm_isdst=-1)

In [16]:
# todo：其实 可以对数据进行时间的提取 年份，时间段 time striptime()
# print(time.strptime('2015/8/4 14:18','%Y/%m/%d %H:%M'))
### note：todo：把其他的时间数据也保留下来
def time_strip(str):
    '''
    对时间数据进行提取保留year和hour
    :param str:
    :return:
    '''
    # print(str[0])
    date = time.strptime(str[0],'%Y/%m/%d %H:%M')
    return (date.tm_year,date.tm_hour,date.tm_wday)
# print(all_datas['survey_time'].value_counts())
all_datas[['survey_year','survey_hour','survey_week_day']] = all_datas[['survey_time']].apply(lambda x:pd.Series(time_strip(x)),axis=1)
print(all_datas[['survey_year','survey_hour','survey_week_day']].head())
### 后面 'survey_time' 不再需要了我们就删除掉
all_datas.drop(['survey_time'],axis=1,inplace=True)

   survey_year  survey_hour  survey_week_day
0         2015           14                1
1         2015           15                1
2         2015           13                1
3         2015           17                5
4         2015            9                0

In [17]:
##todo: 根据survey_time和birth字段提取的时间求出年龄  【一开始的考虑是做个离散化，这里可以不做分段离散化】
all_datas['age'] = all_datas['survey_year']-all_datas['birth']
print(all_datas['age'].value_counts())
## 处理后birth字如果不需要了，进行删除工作 【这里我们不删除了，后面还有用的】
# all_datas.drop(['birth'],axis=1,inplace=True)

50    284
47    273
45    267
52    262
60    261
58    243
48    237
51    236
46    234
62    229
61    226
49    226
65    224
63    224
40    217
53    210
42    207
66    206
59    206
43    204
55    190
44    189
57    188
64    185
41    183
67    182
25    174
70    174
68    169
37    169
35    165
30    164
29    162
33    161
38    158
28    153
39    152
56    147
36    146
27    146
26    143
69    139
54    139
34    135
71    134
22    128
32    123
23    121
24    118
31    118
73    114
72    112
75    112
21    110
20    104
74    101
18     98
19     88
78     88
80     84
76     84
77     80
79     78
82     76
81     64
85     48
84     41
83     39
86     30
87     24
88     16
90     15
89     11
93      8
92      4
91      4
94      3
95      1
Name: age, dtype: int64

In [18]:
# ### 这里我们做的是将连续的年份数据进行了离散化 
# 【这里是将birth年份数据做的分段离散化处理，上面做了年龄的提取，这里我们可以不用，包括其他的年份数据也是】
# birth = all_datas['birth']
# # print(birth.value_counts())
# # 画图展示一下'birth'这个数据的值得统计
# # plt.bar(birth.value_counts().index,birth.value_counts().values,label='birth')
# # plt.legend()
# # plt.show()
# def birth_split(x):
#     if x<=1930:
#         return 0
#     elif x<=1940:
#         return 1
#     elif x<=1950:
#         return 2
#     elif x<=1960:
#         return 3
#     elif x<=1970:
#         return 4
#     elif x<=1980:
#         return 5
#     elif x<=1990:
#         return 6
#     else:
#         return 7
#
#     pass
# ## map
# all_datas['birth_s']=all_datas['birth'].map(birth_split)
# # print(all_datas['birth_s'].value_counts())
# all_datas.drop(['birth'],axis=1,inplace=True)
# # print(all_datas.info(verbose=True,null_counts=True))

In [19]:
# 对于一些缺失值比较严重的数据我们先进行删除工作 大于k（一个阈值）的进行删除/比例
nan_numk_list = list(nan_num[nan_num>=9000].index)
print(nan_numk_list)
## inplace=True 在原对象上进行修改，不需要在赋值的
# all_datas.drop(nan_numk_list,axis=1,inplace=True)
# inplace=False 需要重新赋值给一个对象
print(all_datas.shape)
all_datas = all_datas.drop(nan_numk_list,axis=1,inplace=False)
print(all_datas.shape)

['edu_other', 'join_party', 'property_other', 'invest_other']
(10968, 142)
(10968, 138)

In [20]:
### 对于缺失值不严重的数据的处理
nan_num02k_list = list(nan_num[(nan_num>0)&(nan_num<9000)].index)
print(len(nan_num02k_list))
print(nan_num02k_list)

103
['nationality', 'religion', 'religion_freq', 'edu', 'edu_status', 'edu_yr', 'income', 'political', 'health', 'health_problem', 'depression', 'hukou_loc', 'media_1', 'media_2', 'media_3', 'media_4', 'media_5', 'media_6', 'leisure_1', 'leisure_2', 'leisure_3', 'leisure_4', 'leisure_5', 'leisure_6', 'leisure_7', 'leisure_8', 'leisure_9', 'leisure_10', 'leisure_11', 'leisure_12', 'socialize', 'relax', 'learn', 'social_neighbor', 'social_friend', 'socia_outing', 'equity', 'class', 'class_10_before', 'class_10_after', 'class_14', 'work_status', 'work_yr', 'work_type', 'work_manage', 'insur_1', 'insur_2', 'insur_3', 'insur_4', 'family_income', 'family_m', 'family_status', 'house', 'car', 'son', 'daughter', 'minor_child', 'marital_1st', 's_birth', 'marital_now', 's_edu', 's_political', 's_hukou', 's_income', 's_work_exper', 's_work_status', 's_work_type', 'f_birth', 'f_edu', 'f_political', 'f_work_14', 'm_birth', 'm_edu', 'm_political', 'm_work_14', 'status_peer', 'status_3_before', 'view', 'inc_ability', 'inc_exp', 'trust_1', 'trust_2', 'trust_3', 'trust_4', 'trust_5', 'trust_6', 'trust_7', 'trust_8', 'trust_9', 'trust_10', 'trust_11', 'trust_12', 'trust_13', 'neighbor_familiarity', 'public_service_1', 'public_service_2', 'public_service_3', 'public_service_4', 'public_service_5', 'public_service_6', 'public_service_7', 'public_service_8', 'public_service_9']

In [21]:
# 对于一些虽然缺失不严重，但是是无效特征的数据进行删除   基于业务场景理解
# 【有时候有些字段是无效字段（基于业务的理解），可以直接进行删除，比如我们这里的ID字段，
#   但是我们先不进行删除，到训练的时候在删除】
# print(all_datas.shape)

In [22]:
# all_datas['nationality'].value_counts(dropna=True)

In [23]:
##缺失值在我们允许的阈值内的数据 进行缺失值的填充处理 
## ==》考虑离散值还是连续值（基于业务数据的描述信息，理解业务场景）

# 查看每个字段的所取值的个数 初步判断离散的数据和连续的数据
# 查看字段分别对离散的字段和连续的字段做填充处理

list01 = [] ## 用来存储我们离散的字段
list02 = [] ## 用来存储连续的字段
### 我认为如果你这个字段的值大于40个就是连续的
for column in nan_num02k_list:
    ### dropna=False 表示我们在统计指的时候不去除nan
    # print(all_datas[column].value_counts(dropna=False).shape[0])
    if all_datas[column].value_counts(dropna=False).shape[0]<=40:
        list01.append(column)
    else:
        list02.append(column)
print('list01:\n',list01)
print('---------------------------------')
print('list02:\n',list02)

list01:
 ['nationality', 'religion', 'religion_freq', 'edu', 'edu_status', 'political', 'health', 'health_problem', 'depression', 'hukou_loc', 'media_1', 'media_2', 'media_3', 'media_4', 'media_5', 'media_6', 'leisure_1', 'leisure_2', 'leisure_3', 'leisure_4', 'leisure_5', 'leisure_6', 'leisure_7', 'leisure_8', 'leisure_9', 'leisure_10', 'leisure_11', 'leisure_12', 'socialize', 'relax', 'learn', 'social_neighbor', 'social_friend', 'socia_outing', 'equity', 'class', 'class_10_before', 'class_10_after', 'class_14', 'work_status', 'work_type', 'work_manage', 'insur_1', 'insur_2', 'insur_3', 'insur_4', 'family_m', 'family_status', 'house', 'car', 'son', 'daughter', 'minor_child', 's_edu', 's_political', 's_hukou', 's_work_exper', 's_work_status', 's_work_type', 'f_edu', 'f_political', 'f_work_14', 'm_edu', 'm_political', 'm_work_14', 'status_peer', 'status_3_before', 'view', 'inc_ability', 'trust_1', 'trust_2', 'trust_3', 'trust_4', 'trust_5', 'trust_6', 'trust_7', 'trust_8', 'trust_9', 'trust_10', 'trust_11', 'trust_12', 'trust_13', 'neighbor_familiarity']
---------------------------------
list02:
 ['edu_yr', 'income', 'work_yr', 'family_income', 'marital_1st', 's_birth', 'marital_now', 's_income', 'f_birth', 'm_birth', 'inc_exp', 'public_service_1', 'public_service_2', 'public_service_3', 'public_service_4', 'public_service_5', 'public_service_6', 'public_service_7', 'public_service_8', 'public_service_9']

## 对连续数据的处理

In [24]:
### todo：年份的数据转化成年龄
# 处理'edu_yr'，'s_birth'，f_birth，m_birth，marital_1st，marital_now

In [25]:
## 'edu_yr'根据是否有edu_yr 是否已完成学业
print(all_datas['edu_yr'].value_counts(dropna=False)) ### NaN        4435
all_datas['has_edu_yer'] = all_datas['edu_yr'].map(lambda x:1 if x>0 else 0)
print(all_datas['has_edu_yer'].value_counts(dropna=False))

nan        4435
2013.00     219
1980.00     178
2014.00     160
1978.00     158
2012.00     149
2015.00     149
1979.00     148
1983.00     143
1981.00     133
1989.00     129
2008.00     129
1982.00     128
1990.00     126
1976.00     124
1997.00     123
1992.00     120
2005.00     119
1986.00     119
2010.00     118
2002.00     117
1999.00     116
1988.00     116
1998.00     114
1995.00     113
2007.00     113
1977.00     111
1984.00     111
1985.00     111
1987.00     108
2000.00     108
1994.00     107
2009.00     105
2006.00     105
1996.00     104
2004.00     103
1974.00     101
2003.00     100
2011.00      95
1975.00      95
1972.00      93
1993.00      93
1966.00      92
1973.00      92
1968.00      90
1991.00      89
2001.00      88
1963.00      87
1970.00      85
1967.00      81
1962.00      79
1960.00      78
1971.00      77
1969.00      75
1965.00      73
1964.00      61
1957.00      48
1961.00      46
1958.00      42
1959.00      40
1956.00      30
1955.00      30
1954.00      26
1953.00      20
1952.00      19
1949.00       9
1947.00       9
1950.00       9
1948.00       8
1945.00       8
1942.00       6
1951.00       6
1943.00       5
1939.00       3
1946.00       3
1938.00       2
1941.00       2
1934.00       1
1935.00       1
1937.00       1
1944.00       1
Name: edu_yr, dtype: int64
1    6533
0    4435
Name: has_edu_yer, dtype: int64

In [26]:
## todo:做一下毕业时的年纪 （是否有用，其实我也不知道）
all_datas['edu_age'] = all_datas['edu_yr']-all_datas['birth']
print(all_datas['edu_age'].value_counts(dropna=False))

nan      4435
16.00     797
18.00     748
17.00     684
15.00     663
19.00     548
22.00     359
14.00     348
20.00     339
23.00     312
12.00     298
13.00     291
21.00     236
24.00     181
25.00      96
26.00      70
11.00      55
27.00      50
28.00      35
10.00      32
30.00      28
29.00      25
35.00      24
37.00      23
9.00       22
31.00      22
36.00      22
32.00      21
6.00       20
34.00      18
7.00       17
33.00      16
40.00      15
5.00       14
39.00      13
38.00      13
8.00       13
44.00      11
48.00      10
43.00       9
42.00       9
41.00       5
49.00       4
46.00       4
47.00       3
45.00       3
58.00       2
59.00       1
51.00       1
65.00       1
52.00       1
54.00       1
Name: edu_age, dtype: int64

In [27]:
### 对edu_age里面的nan值进行填充处理，这里我们就填充为0或者均值、众数
all_datas['edu_age'] = all_datas['edu_age'].fillna(0)
print(all_datas['edu_age'].value_counts(dropna=False))
### 删除原始的 edu_yr 字段
all_datas.drop(['edu_yr'],axis=1,inplace=True)
### 对于这个毕业年龄的数据，有些毕业年龄比较小，大家可以看看是否还可以处理处理

0.00     4435
16.00     797
18.00     748
17.00     684
15.00     663
19.00     548
22.00     359
14.00     348
20.00     339
23.00     312
12.00     298
13.00     291
21.00     236
24.00     181
25.00      96
26.00      70
11.00      55
27.00      50
28.00      35
10.00      32
30.00      28
29.00      25
35.00      24
37.00      23
9.00       22
31.00      22
36.00      22
32.00      21
6.00       20
34.00      18
7.00       17
33.00      16
40.00      15
5.00       14
39.00      13
38.00      13
8.00       13
44.00      11
48.00      10
43.00       9
42.00       9
41.00       5
49.00       4
46.00       4
47.00       3
45.00       3
58.00       2
59.00       1
51.00       1
65.00       1
52.00       1
54.00       1
Name: edu_age, dtype: int64

In [28]:
### 处理's_birth'，f_birth，m_birth，marital_1st，marital_now 
## 这里我们直接计算年龄 【一开始我采用的也是离散化的处理，具体可以参考birth字段的处理】

In [29]:
### 's_birth' 配偶的出生年份处理
all_datas['s_age'] = all_datas['survey_year'] - all_datas['s_birth']
print(all_datas['s_age'].value_counts(dropna=False))
##todo： 【这里有些年龄比较小，应该是异常的值，可以把他当作nan值进行处理，这里我没有做，大家可以自己去做看看】

nan       2367
52.00      261
50.00      255
60.00      247
53.00      235
45.00      230
48.00      227
47.00      226
51.00      222
46.00      222
58.00      219
62.00      213
61.00      209
43.00      205
40.00      198
63.00      189
49.00      187
44.00      177
65.00      174
41.00      166
59.00      166
57.00      165
66.00      164
42.00      161
55.00      155
37.00      151
64.00      150
35.00      147
38.00      146
39.00      146
34.00      141
68.00      138
56.00      138
30.00      134
36.00      133
67.00      131
33.00      124
29.00      119
28.00      117
32.00      115
54.00      115
31.00      110
70.00      108
27.00      106
26.00      101
72.00       94
73.00       92
69.00       91
71.00       87
25.00       85
75.00       73
74.00       72
77.00       66
78.00       61
76.00       55
79.00       41
81.00       40
24.00       40
80.00       39
23.00       36
22.00       30
82.00       28
83.00       27
85.00       19
86.00       12
21.00        9
84.00        8
87.00        8
18.00        7
20.00        7
88.00        6
91.00        4
19.00        4
93.00        3
89.00        3
90.00        3
94.00        2
14.00        1
92.00        1
95.00        1
11.00        1
108.00       1
17.00        1
Name: s_age, dtype: int64

In [30]:
### 对s_age里面的nan值进行填充处理，这里我们就填充为0或者均值、众数
all_datas['s_age'] = all_datas['s_age'].fillna(0)
print(all_datas['s_age'].value_counts(dropna=False))
### 删除原始的 s_birth 字段
all_datas.drop(['s_birth'],axis=1,inplace=True)

0.00      2367
52.00      261
50.00      255
60.00      247
53.00      235
45.00      230
48.00      227
47.00      226
51.00      222
46.00      222
58.00      219
62.00      213
61.00      209
43.00      205
40.00      198
63.00      189
49.00      187
44.00      177
65.00      174
41.00      166
59.00      166
57.00      165
66.00      164
42.00      161
55.00      155
37.00      151
64.00      150
35.00      147
38.00      146
39.00      146
34.00      141
68.00      138
56.00      138
30.00      134
36.00      133
67.00      131
33.00      124
29.00      119
28.00      117
32.00      115
54.00      115
31.00      110
70.00      108
27.00      106
26.00      101
72.00       94
73.00       92
69.00       91
71.00       87
25.00       85
75.00       73
74.00       72
77.00       66
78.00       61
76.00       55
79.00       41
81.00       40
24.00       40
80.00       39
23.00       36
22.00       30
82.00       28
83.00       27
85.00       19
86.00       12
21.00        9
84.00        8
87.00        8
18.00        7
20.00        7
88.00        6
91.00        4
19.00        4
93.00        3
89.00        3
90.00        3
94.00        2
14.00        1
92.00        1
95.00        1
11.00        1
108.00       1
17.00        1
Name: s_age, dtype: int64

In [31]:
### 'f_birth' 父亲的出生年份处理
all_datas['f_age'] = all_datas['survey_year'] - all_datas['f_birth']
print(all_datas['f_age'].value_counts(dropna=False))

nan       4664
70.00      198
80.00      185
60.00      180
85.00      166
75.00      162
90.00      158
65.00      149
50.00      142
66.00      142
82.00      139
61.00      124
78.00      124
63.00      123
52.00      121
62.00      115
51.00      113
95.00      113
83.00      112
72.00      112
55.00      110
77.00      110
57.00      106
68.00      104
84.00      104
45.00      102
59.00      100
87.00       99
53.00       98
64.00       97
71.00       97
73.00       95
88.00       92
67.00       92
79.00       91
76.00       91
58.00       89
81.00       88
47.00       88
86.00       85
89.00       84
49.00       84
92.00       81
69.00       75
46.00       73
54.00       73
48.00       73
100.00      73
91.00       70
56.00       67
74.00       65
93.00       63
94.00       61
97.00       53
105.00      52
96.00       47
98.00       47
44.00       45
99.00       39
103.00      36
42.00       35
43.00       33
104.00      31
40.00       30
101.00      27
102.00      25
115.00      24
110.00      20
41.00       19
111.00      19
106.00      18
108.00      16
107.00      14
113.00      13
114.00      13
109.00      13
112.00      10
117.00       7
120.00       6
118.00       6
39.00        6
116.00       5
38.00        5
125.00       4
37.00        4
122.00       3
36.00        3
119.00       3
123.00       2
130.00       2
128.00       1
140.00       1
148.00       1
126.00       1
124.00       1
135.00       1
129.00       1
132.00       1
164.00       1
165.00       1
145.00       1
Name: f_age, dtype: int64

In [32]:
### 对f_age里面的nan值进行填充处理，这里我们就填充为0或者均值
all_datas['f_age'] = all_datas['f_age'].fillna(0)
print(all_datas['f_age'].value_counts(dropna=False))
### 删除原始的 f_birth 字段
all_datas.drop(['f_birth'],axis=1,inplace=True)

0.00      4664
70.00      198
80.00      185
60.00      180
85.00      166
75.00      162
90.00      158
65.00      149
50.00      142
66.00      142
82.00      139
61.00      124
78.00      124
63.00      123
52.00      121
62.00      115
51.00      113
95.00      113
83.00      112
72.00      112
55.00      110
77.00      110
57.00      106
68.00      104
84.00      104
45.00      102
59.00      100
87.00       99
53.00       98
64.00       97
71.00       97
73.00       95
88.00       92
67.00       92
79.00       91
76.00       91
58.00       89
81.00       88
47.00       88
86.00       85
89.00       84
49.00       84
92.00       81
69.00       75
46.00       73
54.00       73
48.00       73
100.00      73
91.00       70
56.00       67
74.00       65
93.00       63
94.00       61
97.00       53
105.00      52
96.00       47
98.00       47
44.00       45
99.00       39
103.00      36
42.00       35
43.00       33
104.00      31
40.00       30
101.00      27
102.00      25
115.00      24
110.00      20
41.00       19
111.00      19
106.00      18
108.00      16
107.00      14
113.00      13
114.00      13
109.00      13
112.00      10
117.00       7
120.00       6
118.00       6
39.00        6
116.00       5
38.00        5
125.00       4
37.00        4
122.00       3
36.00        3
119.00       3
123.00       2
130.00       2
128.00       1
140.00       1
148.00       1
126.00       1
124.00       1
135.00       1
129.00       1
132.00       1
164.00       1
165.00       1
145.00       1
Name: f_age, dtype: int64

In [33]:
### 'm_birth' 母亲的出生年份处理
all_datas['m_age'] = all_datas['survey_year'] - all_datas['m_birth']
print(all_datas['m_age'].value_counts(dropna=False))

nan       4448
75.00      163
80.00      161
70.00      156
85.00      156
50.00      155
60.00      148
65.00      148
63.00      148
77.00      138
73.00      138
82.00      138
55.00      132
62.00      131
83.00      130
90.00      126
66.00      125
59.00      125
81.00      124
78.00      123
52.00      122
58.00      120
68.00      117
67.00      117
72.00      116
53.00      115
61.00      114
64.00      113
57.00      112
79.00      107
87.00      107
74.00      106
45.00      103
49.00      102
48.00      101
69.00      101
84.00      101
51.00       98
47.00       98
46.00       93
88.00       93
71.00       89
89.00       89
86.00       88
76.00       87
95.00       74
56.00       73
92.00       72
44.00       69
54.00       67
93.00       62
91.00       60
94.00       57
100.00      53
97.00       51
43.00       50
42.00       47
96.00       44
98.00       41
40.00       38
99.00       33
102.00      32
101.00      31
104.00      30
105.00      29
41.00       29
103.00      24
39.00       17
110.00      15
109.00      14
107.00      14
111.00      14
115.00      13
106.00      12
108.00      10
37.00       10
38.00        9
114.00       8
113.00       7
112.00       6
120.00       4
119.00       3
122.00       2
125.00       2
116.00       2
117.00       2
118.00       2
35.00        2
36.00        2
34.00        1
155.00       1
30.00        1
146.00       1
158.00       1
31.00        1
164.00       1
121.00       1
126.00       1
123.00       1
Name: m_age, dtype: int64

In [34]:
### 对m_age里面的nan值进行填充处理，这里我们就填充为0
all_datas['m_age'] = all_datas['m_age'].fillna(0)
print(all_datas['m_age'].value_counts(dropna=False))
### 删除原始的 m_birth 字段
all_datas.drop(['m_birth'],axis=1,inplace=True)

0.00      4448
75.00      163
80.00      161
70.00      156
85.00      156
50.00      155
60.00      148
65.00      148
63.00      148
77.00      138
73.00      138
82.00      138
55.00      132
62.00      131
83.00      130
90.00      126
66.00      125
59.00      125
81.00      124
78.00      123
52.00      122
58.00      120
68.00      117
67.00      117
72.00      116
53.00      115
61.00      114
64.00      113
57.00      112
79.00      107
87.00      107
74.00      106
45.00      103
49.00      102
48.00      101
69.00      101
84.00      101
51.00       98
47.00       98
46.00       93
88.00       93
71.00       89
89.00       89
86.00       88
76.00       87
95.00       74
56.00       73
92.00       72
44.00       69
54.00       67
93.00       62
91.00       60
94.00       57
100.00      53
97.00       51
43.00       50
42.00       47
96.00       44
98.00       41
40.00       38
99.00       33
102.00      32
101.00      31
104.00      30
105.00      29
41.00       29
103.00      24
39.00       17
110.00      15
109.00      14
107.00      14
111.00      14
115.00      13
106.00      12
108.00      10
37.00       10
38.00        9
114.00       8
113.00       7
112.00       6
120.00       4
119.00       3
122.00       2
125.00       2
116.00       2
117.00       2
118.00       2
35.00        2
36.00        2
34.00        1
155.00       1
30.00        1
146.00       1
158.00       1
31.00        1
164.00       1
121.00       1
126.00       1
123.00       1
Name: m_age, dtype: int64

# 在上面的这些年份数据的处理其实大家可以考虑计算年龄差异

In [35]:
#### 对'marital_1st', 'marital_now'进行处理 结婚的时间
all_datas['marital_1st_age'] = all_datas['marital_1st'] - all_datas['birth']
print(all_datas['marital_1st_age'].value_counts(dropna=False))

nan      1901
22.00    1046
23.00    1020
24.00     930
25.00     915
20.00     841
21.00     794
26.00     693
27.00     475
19.00     464
18.00     350
28.00     346
29.00     246
17.00     177
30.00     170
31.00     100
16.00      82
32.00      72
33.00      58
15.00      42
34.00      41
36.00      30
35.00      27
13.00      16
14.00      15
11.00      13
12.00      10
38.00      10
37.00       9
8.00        7
9.00        7
40.00       6
10.00       6
39.00       5
42.00       5
41.00       5
1.00        4
43.00       4
47.00       3
54.00       3
44.00       3
51.00       2
6.00        2
4.00        1
62.00       1
50.00       1
5.00        1
7.00        1
56.00       1
48.00       1
3.00        1
68.00       1
46.00       1
52.00       1
55.00       1
61.00       1
Name: marital_1st_age, dtype: int64

In [36]:
### 对marital_1st_age里面的nan值进行填充处理，这里我们就填充为0
all_datas['marital_1st_age'] = all_datas['marital_1st_age'].fillna(0)
print(all_datas['marital_1st_age'].value_counts(dropna=False))
### 删除原始的 m_birth 字段
all_datas.drop(['marital_1st'],axis=1,inplace=True)

0.00     1901
22.00    1046
23.00    1020
24.00     930
25.00     915
20.00     841
21.00     794
26.00     693
27.00     475
19.00     464
18.00     350
28.00     346
29.00     246
17.00     177
30.00     170
31.00     100
16.00      82
32.00      72
33.00      58
15.00      42
34.00      41
36.00      30
35.00      27
13.00      16
14.00      15
11.00      13
12.00      10
38.00      10
37.00       9
8.00        7
9.00        7
40.00       6
10.00       6
39.00       5
42.00       5
41.00       5
1.00        4
43.00       4
47.00       3
54.00       3
44.00       3
51.00       2
6.00        2
4.00        1
62.00       1
50.00       1
5.00        1
7.00        1
56.00       1
48.00       1
3.00        1
68.00       1
46.00       1
52.00       1
55.00       1
61.00       1
Name: marital_1st_age, dtype: int64

In [37]:
#### 对'marital_1st', 'marital_now'进行处理 结婚的时间
all_datas['marital_now_age'] = all_datas['marital_now'] - all_datas['birth']
print(all_datas['marital_now_age'].value_counts(dropna=False))

nan      2938
22.00     904
23.00     900
24.00     843
25.00     817
20.00     694
21.00     678
26.00     625
27.00     428
19.00     379
28.00     318
18.00     261
29.00     210
30.00     158
17.00     122
31.00      98
32.00      74
16.00      59
33.00      51
34.00      48
15.00      37
35.00      33
36.00      30
37.00      19
38.00      17
0.00       15
41.00      14
13.00      13
40.00      11
14.00      10
42.00      10
39.00      10
12.00      10
11.00       8
1.00        7
2.00        7
46.00       7
10.00       6
47.00       6
44.00       6
43.00       5
45.00       5
48.00       5
51.00       5
62.00       5
9.00        5
49.00       4
8.00        4
52.00       4
4.00        4
54.00       4
53.00       3
57.00       3
58.00       3
5.00        3
55.00       3
50.00       2
56.00       2
73.00       2
61.00       2
6.00        1
63.00       1
69.00       1
65.00       1
60.00       1
71.00       1
79.00       1
68.00       1
77.00       1
3.00        1
70.00       1
75.00       1
7.00        1
59.00       1
Name: marital_now_age, dtype: int64

In [38]:
### 对marital_now_age里面的nan值进行填充处理，这里我们就填充为0
all_datas['marital_now_age'] = all_datas['marital_now_age'].fillna(0)
print(all_datas['marital_now_age'].value_counts(dropna=False))
### 删除原始的 m_birth 字段
all_datas.drop(['marital_now'],axis=1,inplace=True)

0.00     2953
22.00     904
23.00     900
24.00     843
25.00     817
20.00     694
21.00     678
26.00     625
27.00     428
19.00     379
28.00     318
18.00     261
29.00     210
30.00     158
17.00     122
31.00      98
32.00      74
16.00      59
33.00      51
34.00      48
15.00      37
35.00      33
36.00      30
37.00      19
38.00      17
41.00      14
13.00      13
40.00      11
42.00      10
14.00      10
39.00      10
12.00      10
11.00       8
1.00        7
2.00        7
46.00       7
10.00       6
44.00       6
47.00       6
9.00        5
45.00       5
48.00       5
43.00       5
62.00       5
51.00       5
52.00       4
8.00        4
49.00       4
4.00        4
54.00       4
57.00       3
53.00       3
58.00       3
5.00        3
55.00       3
50.00       2
56.00       2
73.00       2
61.00       2
6.00        1
63.00       1
69.00       1
65.00       1
60.00       1
71.00       1
79.00       1
68.00       1
77.00       1
3.00        1
70.00       1
75.00       1
7.00        1
59.00       1
Name: marital_now_age, dtype: int64

# 可以先判断一下marital_1st，marital_now是否相等
# 如果不相等是不是就意味着再婚过

In [39]:
### 处理收入相关的数据
## 'income'，'inc_exp'，'family_income'，s_income

In [40]:
print(all_datas['income'].value_counts(dropna=False))
# 直接进行均值（众数、中位数）填充
## 缺失值的填充sklearn Imputer可以进行填充
## 使用基本的python语法
all_datas['income'] = all_datas['income'].fillna(np.mean(all_datas['income']))
print('------------------------------------------------')
print(all_datas['income'].value_counts(dropna=False))

0.00          1641
20000.00       824
30000.00       796
10000.00       758
nan            605
50000.00       500
40000.00       460
5000.00        304
60000.00       294
24000.00       289
36000.00       275
100000.00      242
15000.00       236
3000.00        231
2000.00        228
12000.00       201
25000.00       200
1000.00        154
6000.00        138
4000.00        120
8000.00        113
80000.00       109
35000.00       102
70000.00        99
18000.00        96
48000.00        92
200000.00       62
7000.00         58
45000.00        48
120000.00       48
1500.00         44
150000.00       39
1200.00         34
90000.00        33
14000.00        32
13000.00        31
600.00          30
42000.00        30
2500.00         29
500.00          28
720.00          27
9000.00         26
22000.00        25
800.00          24
660.00          23
2400.00         21
28000.00        20
3600.00         19
26000.00        19
32000.00        18
26400.00        18
37200.00        18
21600.00        18
11000.00        17
900.00          17
55000.00        17
14400.00        17
300000.00       16
72000.00        16
23000.00        16
9600.00         15
400000.00       15
19200.00        15
960.00          15
16000.00        14
3500.00         14
38400.00        14
39600.00        13
17000.00        13
6500.00         13
28800.00        13
21000.00        12
75000.00        12
700.00          11
38000.00        11
20400.00        11
110000.00       11
840.00          11
16800.00        11
32400.00        11
84000.00        10
1000000.00      10
19000.00        10
7500.00         10
4500.00         10
1800.00         10
8400.00         10
4800.00         10
5500.00          9
44400.00         9
500000.00        9
25200.00         9
27600.00         8
27000.00         8
43200.00         8
10800.00         8
31200.00         8
96000.00         7
54000.00         7
15600.00         7
34800.00         7
31000.00         7
780.00           7
40800.00         7
33600.00         7
2600.00          7
22800.00         7
100.00           6
180000.00        6
400.00           6
39000.00         6
130000.00        6
1080.00          6
65000.00         6
1700.00          5
1400.00          5
13200.00         5
800000.00        5
7200.00          5
45600.00         5
43000.00         5
2100.00          4
1100.00          4
1300.00          4
46000.00         4
58000.00         4
78000.00         4
24240.00         4
250000.00        4
85000.00         4
33000.00         4
240000.00        4
600000.00        3
1900.00          3
4200.00          3
62000.00         3
3300.00          3
2200.00          3
3400.00          3
200.00           3
2300.00          3
68000.00         3
66000.00         3
2160.00          3
5200.00          3
750.00           3
144000.00        3
1440.00          2
12600.00         2
1140.00          2
5400.00          2
12800.00         2
12660.00         2
3800.00          2
2800.00          2
3100.00          2
52000.00         2
360000.00        2
760.00           2
53000.00         2
1680.00          2
34000.00         2
29000.00         2
50400.00         2
2660.00          2
49200.00         2
44000.00         2
4300.00          2
3660.00          2
700000.00        2
67200.00         2
160000.00        2
1660.00          2
24960.00         2
7800.00          2
6960.00          2
170000.00        2
11400.00         2
300.00           2
1720.00          2
5600.00          2
29400.00         2
2900.00          2
8500.00          2
69600.00         2
80.00            1
210000.00        1
37500.00         1
41000.00         1
3840.00          1
1060.00          1
2250.00          1
2550.00          1
56000.00         1
79900.00         1
11566.00         1
3516.00          1
1560.00          1
2700.00          1
20800.00         1
330000.00        1
6660.00          1
10500.00         1
43488.00         1
3060.00          1
5580.00          1
50200.00         1
1575.00          1
1260.00          1
5760.00          1
13600.00         1
9999990.00       1
8880.00          1
64000.00         1
3360.00          1
2880.00          1
10440.00         1
108000.00        1
20040.00         1
1540.00          1
5000000.00       1
12100.00         1
350000.00        1
26700.00         1
2270.00          1
208000.00        1
288000.00        1
6420.00          1
385.00           1
32160.00         1
6240.00          1
13500.00         1
27756.00         1
46200.00         1
80400.00         1
11020.00         1
4700.00          1
10770.00         1
1600.00          1
56400.00         1
10300.00         1
3816.00          1
36948.00         1
13080.00         1
940.00           1
11200.00         1
5360.00          1
9991500.00       1
28440.00         1
2750.00          1
6680.00          1
730.00           1
47100.00         1
99000.00         1
43800.00         1
220000.00        1
140000.00        1
51000.00         1
86000.00         1
950.00           1
42800.00         1
23400.00         1
27500.00         1
30624.00         1
13002.00         1
26640.00         1
45200.00         1
41600.00         1
2320.00          1
7650.00          1
6060.00          1
38616.00         1
26500.00         1
50.00            1
12500.00         1
73200.00         1
10920.00         1
6540.00          1
41700.00         1
2544.00          1
10680.00         1
2060.00          1
93600.00         1
4080.00          1
3680.00          1
34632.00         1
134400.00        1
36900.00         1
58200.00         1
2280.00          1
156000.00        1
91200.00         1
550.00           1
1620.00          1
31720.00         1
7560.00          1
8100.00          1
1044.00          1
41640.00         1
900000.00        1
100800.00        1
9200.00          1
9940000.00       1
9480.00          1
980.00           1
3450.00          1
22200.00         1
11500.00         1
47000.00         1
55200.00         1
960000.00        1
1220.00          1
4850.00          1
11700.00         1
110400.00        1
2999.00          1
2000000.00       1
5160.00          1
142000.00        1
57000.00         1
2040.00          1
8600.00          1
3999.00          1
5800.00          1
860.00           1
5820.00          1
925000.00        1
37332.00         1
9030000.00       1
4560.00          1
6200.00          1
3580.00          1
2570.00          1
58800.00         1
809600.00        1
540.00           1
850.00           1
5280.00          1
5940.00          1
6600.00          1
9400.00          1
3720.00          1
51600.00         1
31920.00         1
190000.00        1
9900.00          1
1520.00          1
1120.00          1
15700.00         1
4620.00          1
10720.00         1
29280.00         1
2830.00          1
948.00           1
240.00           1
21840.00         1
36500.00         1
10660.00         1
4680.00          1
6840.00          1
9100.00          1
3750.00          1
1980.00          1
39120.00         1
216000.00        1
16200.00         1
17500.00         1
4420.00          1
14780.00         1
2640.00          1
1040.00          1
29040.00         1
2620.00          1
22300.00         1
9996.00          1
12400.00         1
7400.00          1
10200.00         1
2220.00          1
63000.00         1
44160.00         1
60.00            1
11520.00         1
1408.00          1
74400.00         1
Name: income, dtype: int64
------------------------------------------------
0.00          1641
20000.00       824
30000.00       796
10000.00       758
32805.33       605
50000.00       500
40000.00       460
5000.00        304
60000.00       294
24000.00       289
36000.00       275
100000.00      242
15000.00       236
3000.00        231
2000.00        228
12000.00       201
25000.00       200
1000.00        154
6000.00        138
4000.00        120
8000.00        113
80000.00       109
35000.00       102
70000.00        99
18000.00        96
48000.00        92
200000.00       62
7000.00         58
45000.00        48
120000.00       48
1500.00         44
150000.00       39
1200.00         34
90000.00        33
14000.00        32
13000.00        31
600.00          30
42000.00        30
2500.00         29
500.00          28
720.00          27
9000.00         26
22000.00        25
800.00          24
660.00          23
2400.00         21
28000.00        20
26000.00        19
3600.00         19
26400.00        18
21600.00        18
37200.00        18
32000.00        18
55000.00        17
14400.00        17
900.00          17
11000.00        17
72000.00        16
300000.00       16
23000.00        16
9600.00         15
960.00          15
19200.00        15
400000.00       15
38400.00        14
3500.00         14
16000.00        14
6500.00         13
17000.00        13
28800.00        13
39600.00        13
75000.00        12
21000.00        12
20400.00        11
16800.00        11
38000.00        11
32400.00        11
840.00          11
700.00          11
110000.00       11
1000000.00      10
4500.00         10
7500.00         10
8400.00         10
4800.00         10
1800.00         10
84000.00        10
19000.00        10
5500.00          9
25200.00         9
500000.00        9
44400.00         9
27600.00         8
10800.00         8
27000.00         8
43200.00         8
31200.00         8
2600.00          7
15600.00         7
780.00           7
34800.00         7
22800.00         7
33600.00         7
40800.00         7
96000.00         7
54000.00         7
31000.00         7
180000.00        6
65000.00         6
39000.00         6
1080.00          6
400.00           6
130000.00        6
100.00           6
43000.00         5
800000.00        5
1400.00          5
7200.00          5
13200.00         5
1700.00          5
45600.00         5
2100.00          4
58000.00         4
85000.00         4
1300.00          4
240000.00        4
24240.00         4
33000.00         4
1100.00          4
46000.00         4
78000.00         4
250000.00        4
144000.00        3
2300.00          3
3300.00          3
62000.00         3
600000.00        3
66000.00         3
750.00           3
3400.00          3
1900.00          3
200.00           3
5200.00          3
4200.00          3
68000.00         3
2160.00          3
2200.00          3
8500.00          2
170000.00        2
700000.00        2
29400.00         2
4300.00          2
29000.00         2
50400.00         2
2660.00          2
1140.00          2
3100.00          2
34000.00         2
300.00           2
12600.00         2
3660.00          2
5400.00          2
360000.00        2
12800.00         2
49200.00         2
24960.00         2
11400.00         2
160000.00        2
67200.00         2
53000.00         2
5600.00          2
12660.00         2
6960.00          2
7800.00          2
69600.00         2
3800.00          2
44000.00         2
1660.00          2
1720.00          2
52000.00         2
2900.00          2
1680.00          2
1440.00          2
2800.00          2
760.00           2
12100.00         1
80400.00         1
2250.00          1
1060.00          1
210000.00        1
2700.00          1
3060.00          1
5580.00          1
1260.00          1
3516.00          1
2550.00          1
330000.00        1
47100.00         1
5760.00          1
41000.00         1
11200.00         1
940.00           1
13080.00         1
36948.00         1
3816.00          1
56400.00         1
10770.00         1
4700.00          1
11020.00         1
13600.00         1
37500.00         1
56000.00         1
10300.00         1
1560.00          1
6660.00          1
43488.00         1
1575.00          1
50200.00         1
10500.00         1
20800.00         1
11566.00         1
79900.00         1
3840.00          1
80.00            1
5360.00          1
9991500.00       1
28440.00         1
46200.00         1
2750.00          1
6680.00          1
27756.00         1
13500.00         1
8880.00          1
64000.00         1
3360.00          1
208000.00        1
288000.00        1
32160.00         1
385.00           1
6420.00          1
2270.00          1
26700.00         1
5000000.00       1
350000.00        1
9999990.00       1
1540.00          1
20040.00         1
108000.00        1
10440.00         1
2880.00          1
6240.00          1
730.00           1
8600.00          1
99000.00         1
43800.00         1
220000.00        1
140000.00        1
51000.00         1
86000.00         1
950.00           1
42800.00         1
23400.00         1
27500.00         1
30624.00         1
13002.00         1
26640.00         1
45200.00         1
41600.00         1
2320.00          1
7650.00          1
6060.00          1
38616.00         1
26500.00         1
12500.00         1
73200.00         1
10920.00         1
6540.00          1
41700.00         1
2544.00          1
10680.00         1
2060.00          1
93600.00         1
4080.00          1
3680.00          1
142000.00        1
34632.00         1
134400.00        1
36900.00         1
58200.00         1
2280.00          1
156000.00        1
91200.00         1
550.00           1
1620.00          1
31720.00         1
7560.00          1
8100.00          1
1044.00          1
41640.00         1
900000.00        1
100800.00        1
9200.00          1
9940000.00       1
9480.00          1
980.00           1
3450.00          1
22200.00         1
11500.00         1
47000.00         1
55200.00         1
960000.00        1
1220.00          1
4850.00          1
11700.00         1
110400.00        1
2999.00          1
2000000.00       1
5160.00          1
57000.00         1
2040.00          1
948.00           1
74400.00         1
3999.00          1
5800.00          1
860.00           1
5820.00          1
925000.00        1
37332.00         1
9030000.00       1
4560.00          1
6200.00          1
3580.00          1
2570.00          1
58800.00         1
809600.00        1
540.00           1
850.00           1
5280.00          1
5940.00          1
6600.00          1
9400.00          1
3720.00          1
51600.00         1
31920.00         1
190000.00        1
9900.00          1
1520.00          1
1120.00          1
15700.00         1
4620.00          1
10720.00         1
29280.00         1
2830.00          1
21840.00         1
240.00           1
36500.00         1
10660.00         1
4680.00          1
6840.00          1
9100.00          1
3750.00          1
1980.00          1
39120.00         1
216000.00        1
16200.00         1
17500.00         1
4420.00          1
14780.00         1
2640.00          1
1040.00          1
29040.00         1
2620.00          1
22300.00         1
9996.00          1
12400.00         1
7400.00          1
10200.00         1
2220.00          1
63000.00         1
44160.00         1
60.00            1
11520.00         1
1408.00          1
50.00            1
1600.00          1
Name: income, dtype: int64

In [41]:
# print('------------对inc_exp字段进行均值填充-----------------')
all_datas['inc_exp'] = all_datas.inc_exp.fillna(np.mean(all_datas.family_income))
print(all_datas.inc_exp.value_counts(dropna=False))

72466.44        1501
100000.00       1408
50000.00        1242
30000.00         903
20000.00         750
10000.00         686
60000.00         681
40000.00         533
200000.00        361
80000.00         334
70000.00         191
5000.00          191
150000.00        181
36000.00         130
3000.00          124
120000.00        115
15000.00          97
300000.00         95
500000.00         87
1000000.00        85
24000.00          78
25000.00          78
10000000.00       78
12000.00          73
6000.00           63
8000.00           61
2000.00           60
48000.00          57
4000.00           54
35000.00          52
1000.00           40
90000.00          38
72000.00          31
400000.00         25
7000.00           24
45000.00          22
18000.00          18
250000.00         18
75000.00          15
1500.00           14
42000.00          13
55000.00          13
130000.00         12
2000000.00        11
600000.00         11
180000.00         10
0.00              10
96000.00           9
10.00              9
65000.00           8
5.00               8
5000000.00         7
6.00               7
800000.00          7
3500.00            7
20.00              7
500.00             6
13000.00           6
3000000.00         6
2500.00            6
360000.00          5
14000.00           5
3600.00            5
100000000.00       5
240000.00          5
4500.00            5
84000.00           5
700000.00          5
16000.00           5
9600.00            4
9000.00            4
5500.00            4
54000.00           4
4800.00            3
28800.00           3
108000.00          3
160000.00          3
7200.00            3
1200000.00         3
30.00              3
1800.00            3
300.00             3
3.00               3
60.00              3
1200.00            3
170000.00          3
999998.00          3
350000.00          3
140000.00          3
4.00               3
2.00               3
12.00              2
8.00               2
3650.00            2
900000.00          2
14400.00           2
700.00             2
31200.00           2
85000.00           2
43000.00           2
20400.00           2
750000.00          2
28000.00           2
900.00             2
2400.00            2
4000000.00         2
7500.00            2
110000.00          2
22000000.00        1
600.00             1
26400.00           1
1400.00            1
32000.00           1
500001.00          1
21600.00           1
168000.00          1
3500000.00         1
4320.00            1
150.00             1
21000.00           1
22000.00           1
80000000.00        1
78000.00           1
60001.00           1
1.00               1
450000.00          1
19200.00           1
57000.00           1
39600.00           1
7.00               1
6500.00            1
25200.00           1
76000.00           1
9200.00            1
26000.00           1
3800.00            1
4100.00            1
190000.00          1
32400.00           1
99998.00           1
200.00             1
7000000.00         1
15000000.00        1
16800.00           1
12600.00           1
6000000.00         1
11000.00           1
17000.00           1
58800.00           1
1600000.00         1
1698.00            1
2720.00            1
2700.00            1
23000.00           1
90000000.00        1
46000.00           1
2300.00            1
230000.00          1
3700.00            1
20000000.00        1
Name: inc_exp, dtype: int64

In [42]:
## todo:'income'，'inc_exp' 做一个字段：收入是否达到期望收入
### 判断一下收入是否符合预期
def if_exp_inc(x):
    income, inc_exp = x[0],x[1]
    if income>=inc_exp:
        return 1
    else:
        return 0
all_datas['if_exp_inc'] = all_datas[['income','inc_exp']].apply(if_exp_inc,axis=1)
print(all_datas['if_exp_inc'].value_counts(dropna=False))

0    9687
1    1281
Name: if_exp_inc, dtype: int64

In [43]:
## Note：实际上下面的都是进行均值填充，可以放在一起进行

## 对family_income , s_income字段进行处理
# print(all_datas.family_income.value_counts(dropna=False))
## 对该字段进行均值填充
# print('------------对family_income字段进行均值填充-----------------')
all_datas['family_income'] = all_datas.family_income.fillna(np.mean(all_datas.family_income))
# print(all_datas.family_income.value_counts(dropna=False))

# print(all_datas.s_income.value_counts(dropna=False))
## 对该字段进行均值填充
# print('------------对s_income字段进行均值填充-----------------')
all_datas['s_income'] = all_datas.s_income.fillna(np.mean(all_datas.s_income))
# print(all_datas.s_income.value_counts(dropna=False))

### 处理work_yr
# print(all_datas.work_yr.value_counts(dropna=False))
### 将nan值填充为均值
# print('------------对work_yr字段进行均值填充-----------------')
all_datas['work_yr'] = all_datas.work_yr.fillna(np.mean(all_datas.work_yr))
# print(all_datas.work_yr.value_counts(dropna=False))

In [44]:
## 'public_service_1', 'public_service_2', 'public_service_3', 'public_service_4', 'public_service_5', 'public_service_6', 'public_service_7', 'public_service_8', 'public_service_9'
# 直接进行均值（众数、中位数）填充
'''
对以下字段进行处理
['public_service_1', 'public_service_2', 'public_service_3', 'public_service_4', 'public_service_5', 'public_service_6', 'public_service_7', 'public_service_8', 'public_service_9']
'''
public_list = ['public_service_1', 'public_service_2', 'public_service_3', 'public_service_4', 'public_service_5', 'public_service_6', 'public_service_7', 'public_service_8', 'public_service_9']

### 将nan值填充为均值
# print('------------对public_字段进行均值填充-----------------')
for column_name in public_list:
    # print('------------对{}字段进行均值填充-----------------'.format(column_name))
    all_datas[column_name] = all_datas[column_name].fillna(np.mean(all_datas[column_name]))
    # print(all_datas.work_yr.value_counts(dropna=False))

### 以上是对一些连续数据的处理

## 接下来list01 离散的数据的填充 一般不会使用均值填充

In [45]:
print('list01:\n',list01)
print(len(list01))

list01:
 ['nationality', 'religion', 'religion_freq', 'edu', 'edu_status', 'political', 'health', 'health_problem', 'depression', 'hukou_loc', 'media_1', 'media_2', 'media_3', 'media_4', 'media_5', 'media_6', 'leisure_1', 'leisure_2', 'leisure_3', 'leisure_4', 'leisure_5', 'leisure_6', 'leisure_7', 'leisure_8', 'leisure_9', 'leisure_10', 'leisure_11', 'leisure_12', 'socialize', 'relax', 'learn', 'social_neighbor', 'social_friend', 'socia_outing', 'equity', 'class', 'class_10_before', 'class_10_after', 'class_14', 'work_status', 'work_type', 'work_manage', 'insur_1', 'insur_2', 'insur_3', 'insur_4', 'family_m', 'family_status', 'house', 'car', 'son', 'daughter', 'minor_child', 's_edu', 's_political', 's_hukou', 's_work_exper', 's_work_status', 's_work_type', 'f_edu', 'f_political', 'f_work_14', 'm_edu', 'm_political', 'm_work_14', 'status_peer', 'status_3_before', 'view', 'inc_ability', 'trust_1', 'trust_2', 'trust_3', 'trust_4', 'trust_5', 'trust_6', 'trust_7', 'trust_8', 'trust_9', 'trust_10', 'trust_11', 'trust_12', 'trust_13', 'neighbor_familiarity']
83

In [46]:
# 这里我们做最简单的处理 填充成新的一类特征  这里填充成-1而不是0是因为有的特征里面已经有0这个类别了
### 可能这样做会带来效果上的影响
all_datas.fillna(-1,inplace=True)

# note：实际上，咱们在处理这种离散数据的填充的时候，最好根据字段本身的意义去看看有没有什么好的填充方式
- 希望大家在自己做的时候，还是根据这个原则来做
- 可以先分组，再填充

In [47]:
### 检查一下有缺失值的是否全部处理了
nan_num = all_datas.isnull().sum()
print(nan_num)
# 获取缺失值为0的字段名称 是不需要进行缺失值的填充 bool索引
nan_num_list = list(nan_num[nan_num>0].index)
print(nan_num_list)

id                      0
survey_type             0
province                0
city                    0
county                  0
gender                  0
birth                   0
nationality             0
religion                0
religion_freq           0
edu                     0
edu_status              0
income                  0
political               0
floor_area              0
property_0              0
property_1              0
property_2              0
property_3              0
property_4              0
property_5              0
property_6              0
property_7              0
property_8              0
height_cm               0
weight_jin              0
health                  0
health_problem          0
depression              0
hukou                   0
hukou_loc               0
media_1                 0
media_2                 0
media_3                 0
media_4                 0
media_5                 0
media_6                 0
leisure_1               0
leisure_2               0
leisure_3               0
leisure_4               0
leisure_5               0
leisure_6               0
leisure_7               0
leisure_8               0
leisure_9               0
leisure_10              0
leisure_11              0
leisure_12              0
socialize               0
relax                   0
learn                   0
social_neighbor         0
social_friend           0
socia_outing            0
equity                  0
class                   0
class_10_before         0
class_10_after          0
class_14                0
work_exper              0
work_status             0
work_yr                 0
work_type               0
work_manage             0
insur_1                 0
insur_2                 0
insur_3                 0
insur_4                 0
family_income           0
family_m                0
family_status           0
house                   0
car                     0
invest_0                0
invest_1                0
invest_2                0
invest_3                0
invest_4                0
invest_5                0
invest_6                0
invest_7                0
invest_8                0
son                     0
daughter                0
minor_child             0
marital                 0
s_edu                   0
s_political             0
s_hukou                 0
s_income                0
s_work_exper            0
s_work_status           0
s_work_type             0
f_edu                   0
f_political             0
f_work_14               0
m_edu                   0
m_political             0
m_work_14               0
status_peer             0
status_3_before         0
view                    0
inc_ability             0
inc_exp                 0
trust_1                 0
trust_2                 0
trust_3                 0
trust_4                 0
trust_5                 0
trust_6                 0
trust_7                 0
trust_8                 0
trust_9                 0
trust_10                0
trust_11                0
trust_12                0
trust_13                0
neighbor_familiarity    0
public_service_1        0
public_service_2        0
public_service_3        0
public_service_4        0
public_service_5        0
public_service_6        0
public_service_7        0
public_service_8        0
public_service_9        0
survey_year             0
survey_hour             0
survey_week_day         0
age                     0
has_edu_yer             0
edu_age                 0
s_age                   0
f_age                   0
m_age                   0
marital_1st_age         0
marital_now_age         0
if_exp_inc              0
dtype: int64
[]

In [48]:
# 查看处理后的all_datas 的字段信息  看看是否都是数值型
print(all_datas.info(verbose=True,null_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10968 entries, 0 to 10967
Data columns (total 140 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10968 non-null  int64
 1   survey_type           10968 non-null  int64
 2   province              10968 non-null  int64
 3   city                  10968 non-null  int64
 4   county                10968 non-null  int64
 5   gender                10968 non-null  int64
 6   birth                 10968 non-null  int64
 7   nationality           10968 non-null  float64
 8   religion              10968 non-null  float64
 9   religion_freq         10968 non-null  float64
 10  edu                   10968 non-null  float64
 11  edu_status            10968 non-null  float64
 12  income                10968 non-null  float64
 13  political             10968 non-null  float64
 14  floor_area            10968 non-null  float64
 15  property_0            10968 non-null  int64
 16  property_1            10968 non-null  int64
 17  property_2            10968 non-null  int64
 18  property_3            10968 non-null  int64
 19  property_4            10968 non-null  int64
 20  property_5            10968 non-null  int64
 21  property_6            10968 non-null  int64
 22  property_7            10968 non-null  int64
 23  property_8            10968 non-null  int64
 24  height_cm             10968 non-null  int64
 25  weight_jin            10968 non-null  int64
 26  health                10968 non-null  float64
 27  health_problem        10968 non-null  float64
 28  depression            10968 non-null  float64
 29  hukou                 10968 non-null  int64
 30  hukou_loc             10968 non-null  float64
 31  media_1               10968 non-null  float64
 32  media_2               10968 non-null  float64
 33  media_3               10968 non-null  float64
 34  media_4               10968 non-null  float64
 35  media_5               10968 non-null  float64
 36  media_6               10968 non-null  float64
 37  leisure_1             10968 non-null  float64
 38  leisure_2             10968 non-null  float64
 39  leisure_3             10968 non-null  float64
 40  leisure_4             10968 non-null  float64
 41  leisure_5             10968 non-null  float64
 42  leisure_6             10968 non-null  float64
 43  leisure_7             10968 non-null  float64
 44  leisure_8             10968 non-null  float64
 45  leisure_9             10968 non-null  float64
 46  leisure_10            10968 non-null  float64
 47  leisure_11            10968 non-null  float64
 48  leisure_12            10968 non-null  float64
 49  socialize             10968 non-null  float64
 50  relax                 10968 non-null  float64
 51  learn                 10968 non-null  float64
 52  social_neighbor       10968 non-null  float64
 53  social_friend         10968 non-null  float64
 54  socia_outing          10968 non-null  float64
 55  equity                10968 non-null  float64
 56  class                 10968 non-null  float64
 57  class_10_before       10968 non-null  float64
 58  class_10_after        10968 non-null  float64
 59  class_14              10968 non-null  float64
 60  work_exper            10968 non-null  int64
 61  work_status           10968 non-null  float64
 62  work_yr               10968 non-null  float64
 63  work_type             10968 non-null  float64
 64  work_manage           10968 non-null  float64
 65  insur_1               10968 non-null  float64
 66  insur_2               10968 non-null  float64
 67  insur_3               10968 non-null  float64
 68  insur_4               10968 non-null  float64
 69  family_income         10968 non-null  float64
 70  family_m              10968 non-null  float64
 71  family_status         10968 non-null  float64
 72  house                 10968 non-null  float64
 73  car                   10968 non-null  float64
 74  invest_0              10968 non-null  int64
 75  invest_1              10968 non-null  int64
 76  invest_2              10968 non-null  int64
 77  invest_3              10968 non-null  int64
 78  invest_4              10968 non-null  int64
 79  invest_5              10968 non-null  int64
 80  invest_6              10968 non-null  int64
 81  invest_7              10968 non-null  int64
 82  invest_8              10968 non-null  int64
 83  son                   10968 non-null  float64
 84  daughter              10968 non-null  float64
 85  minor_child           10968 non-null  float64
 86  marital               10968 non-null  int64
 87  s_edu                 10968 non-null  float64
 88  s_political           10968 non-null  float64
 89  s_hukou               10968 non-null  float64
 90  s_income              10968 non-null  float64
 91  s_work_exper          10968 non-null  float64
 92  s_work_status         10968 non-null  float64
 93  s_work_type           10968 non-null  float64
 94  f_edu                 10968 non-null  float64
 95  f_political           10968 non-null  float64
 96  f_work_14             10968 non-null  float64
 97  m_edu                 10968 non-null  float64
 98  m_political           10968 non-null  float64
 99  m_work_14             10968 non-null  float64
 100 status_peer           10968 non-null  float64
 101 status_3_before       10968 non-null  float64
 102 view                  10968 non-null  float64
 103 inc_ability           10968 non-null  float64
 104 inc_exp               10968 non-null  float64
 105 trust_1               10968 non-null  float64
 106 trust_2               10968 non-null  float64
 107 trust_3               10968 non-null  float64
 108 trust_4               10968 non-null  float64
 109 trust_5               10968 non-null  float64
 110 trust_6               10968 non-null  float64
 111 trust_7               10968 non-null  float64
 112 trust_8               10968 non-null  float64
 113 trust_9               10968 non-null  float64
 114 trust_10              10968 non-null  float64
 115 trust_11              10968 non-null  float64
 116 trust_12              10968 non-null  float64
 117 trust_13              10968 non-null  float64
 118 neighbor_familiarity  10968 non-null  float64
 119 public_service_1      10968 non-null  float64
 120 public_service_2      10968 non-null  float64
 121 public_service_3      10968 non-null  float64
 122 public_service_4      10968 non-null  float64
 123 public_service_5      10968 non-null  float64
 124 public_service_6      10968 non-null  float64
 125 public_service_7      10968 non-null  float64
 126 public_service_8      10968 non-null  float64
 127 public_service_9      10968 non-null  float64
 128 survey_year           10968 non-null  int64
 129 survey_hour           10968 non-null  int64
 130 survey_week_day       10968 non-null  int64
 131 age                   10968 non-null  int64
 132 has_edu_yer           10968 non-null  int64
 133 edu_age               10968 non-null  float64
 134 s_age                 10968 non-null  float64
 135 f_age                 10968 non-null  float64
 136 m_age                 10968 non-null  float64
 137 marital_1st_age       10968 non-null  float64
 138 marital_now_age       10968 non-null  float64
 139 if_exp_inc            10968 non-null  int64
dtypes: float64(104), int64(36)
memory usage: 11.7 MB
None

In [49]:
# 查看处理后的头几行（或者尾部几行）
print(all_datas.head())
# print(all_datas.tail())

   id  survey_type  province  city  county  gender  birth  nationality  \
0   1            1        12    32      59       1   1959         1.00
1   2            2        18    52      85       1   1992         1.00
2   3            2        29    83     126       2   1967         1.00
3   4            2        10    28      51       2   1943         1.00
4   5            1         7    18      36       2   1994         1.00

   religion  religion_freq   edu  edu_status   income  political  floor_area  \
0      1.00           1.00 11.00        4.00 20000.00       1.00       45.00
1      1.00           1.00 12.00        4.00 20000.00       1.00      110.00
2      0.00           3.00  4.00        4.00  2000.00       1.00      120.00
3      1.00           1.00  3.00        4.00  6420.00       1.00       78.00
4      1.00           1.00 12.00        1.00 32805.33       2.00       70.00

   property_0  property_1  property_2  property_3  property_4  property_5  \
0           0           1           0           0           0           0
1           0           0           0           0           1           0
2           0           1           1           0           0           0
3           0           0           0           1           0           0
4           0           0           0           0           1           0

   property_6  property_7  property_8  height_cm  weight_jin  health  \
0           0           0           0        176         155    3.00
1           0           0           0        170         110    5.00
2           0           0           0        160         122    4.00
3           0           0           0        163         170    4.00
4           0           0           0        165         110    5.00

   health_problem  depression  hukou  hukou_loc  media_1  media_2  media_3  \
0            2.00        5.00      5       2.00     4.00     2.00     5.00
1            4.00        3.00      1       1.00     2.00     2.00     1.00
2            4.00        5.00      1       1.00     2.00     2.00     2.00
3            4.00        4.00      1       2.00     2.00     1.00     1.00
4            5.00        3.00      2       3.00     1.00     3.00     4.00

   media_4  media_5  media_6  leisure_1  leisure_2  leisure_3  leisure_4  \
0     5.00     4.00     3.00       1.00       4.00       3.00       1.00
1     3.00     5.00     1.00       2.00       3.00       4.00       3.00
2     5.00     1.00     3.00       1.00       4.00       4.00       3.00
3     5.00     1.00     1.00       1.00       5.00       2.00       4.00
4     2.00     5.00     5.00       3.00       3.00       3.00       2.00

   leisure_5  leisure_6  leisure_7  leisure_8  leisure_9  leisure_10  \
0       2.00       3.00       4.00       1.00       4.00        5.00
1       5.00       4.00       3.00       2.00       3.00        4.00
2       5.00       4.00       4.00       2.00       3.00        5.00
3       5.00       4.00       5.00       1.00       1.00        5.00
4       4.00       4.00       3.00       5.00       2.00        5.00

   leisure_11  leisure_12  socialize  relax  learn  social_neighbor  \
0        4.00        1.00       2.00   4.00   3.00             3.00
1        5.00        1.00       2.00   4.00   3.00             6.00
2        5.00        5.00       3.00   4.00   2.00             2.00
3        5.00        5.00       2.00   4.00   4.00             1.00
4        5.00        1.00       4.00   3.00   4.00             7.00

   social_friend  socia_outing  equity  class  class_10_before  \
0           3.00          2.00    3.00   3.00             3.00
1           2.00          1.00    3.00   6.00             4.00
2           5.00          2.00    4.00   5.00             4.00
3           6.00          1.00    4.00   5.00             5.00
4           5.00          3.00    2.00   1.00             1.00

   class_10_after  class_14  work_exper  work_status  work_yr  work_type  \
0            3.00      1.00           1         3.00    30.00       1.00
1            8.00      5.00           1         3.00     2.00       1.00
2            6.00      3.00           2        -1.00    15.33      -1.00
3            7.00      2.00           4        -1.00    15.33      -1.00
4            1.00      4.00           6        -1.00    15.33      -1.00

   work_manage  insur_1  insur_2  insur_3  insur_4  family_income  family_m  \
0         2.00     1.00     1.00     1.00     2.00       60000.00      2.00
1         3.00     1.00     1.00     1.00     1.00       40000.00      3.00
2        -1.00     1.00     1.00     2.00     2.00        8000.00      3.00
3        -1.00     2.00     2.00     2.00     2.00       12000.00      3.00
4        -1.00     1.00     2.00     2.00     2.00       72466.44      4.00

   family_status  house  car  invest_0  invest_1  invest_2  invest_3  \
0           2.00   1.00 2.00         0         1         0         0
1           4.00   1.00 2.00         0         1         0         0
2           3.00   1.00 2.00         0         1         0         0
3           3.00   1.00 1.00         0         1         0         0
4           3.00   1.00 1.00         0         1         0         0

   invest_4  invest_5  invest_6  invest_7  invest_8  son  daughter  \
0         0         0         0         0         0 1.00      0.00
1         0         0         0         0         0 0.00      0.00
2         0         0         0         0         0 0.00      2.00
3         0         0         0         0         0 1.00      4.00
4         0         0         0         0         0 0.00      0.00

   minor_child  marital  s_edu  s_political  s_hukou  s_income  s_work_exper  \
0         0.00        3   6.00         1.00     5.00  40000.00          5.00
1        -1.00        1  -1.00        -1.00    -1.00  30662.25         -1.00
2         1.00        3   3.00         1.00     1.00   6000.00          3.00
3         0.00        7  -1.00        -1.00    -1.00  30662.25         -1.00
4        -1.00        1  -1.00        -1.00    -1.00  30662.25         -1.00

   s_work_status  s_work_type  f_edu  f_political  f_work_14  m_edu  \
0          -1.00        -1.00   4.00         4.00       1.00   4.00
1          -1.00        -1.00   3.00         1.00       2.00   3.00
2          -1.00        -1.00   1.00         1.00       2.00   1.00
3          -1.00        -1.00  14.00         1.00       2.00   1.00
4          -1.00        -1.00   6.00         1.00      10.00   4.00

   m_political  m_work_14  status_peer  status_3_before  view  inc_ability  \
0         1.00       1.00         3.00             2.00  4.00         3.00
1         1.00       2.00         1.00             1.00  4.00         2.00
2         1.00       2.00         2.00             1.00  4.00         2.00
3         1.00       2.00         2.00             1.00  3.00         2.00
4         1.00      15.00         3.00             2.00  3.00        -1.00

    inc_exp  trust_1  trust_2  trust_3  trust_4  trust_5  trust_6  trust_7  \
0  50000.00     4.00     2.00    -1.00    -1.00     5.00     3.00     2.00
1  50000.00     5.00     4.00     4.00     3.00     5.00     3.00     3.00
2  80000.00     3.00     3.00     3.00     3.00     4.00     3.00     3.00
3  10000.00     3.00     3.00     4.00     3.00     5.00     3.00     3.00
4 200000.00     4.00     3.00     3.00     3.00     5.00     5.00     3.00

   trust_8  trust_9  trust_10  trust_11  trust_12  trust_13  \
0     3.00     4.00      3.00     -1.00      4.00      1.00
1     3.00     2.00      3.00      3.00      3.00      2.00
2     3.00     3.00      3.00     -1.00      3.00      1.00
3     5.00     4.00      3.00      3.00      3.00      2.00
4     4.00     3.00      3.00      3.00      3.00      2.00

   neighbor_familiarity  public_service_1  public_service_2  public_service_3  \
0                  4.00             50.00             60.00             50.00
1                  3.00             90.00             70.00             70.00
2                  4.00             90.00             80.00             75.00
3                  3.00            100.00             90.00             70.00
4                  2.00             50.00             50.00             50.00

   public_service_4  public_service_5  public_service_6  public_service_7  \
0             50.00             30.00             30.00             50.00
1             80.00             85.00             70.00             90.00
2             79.00             80.00             90.00             90.00
3             80.00             80.00             90.00             90.00
4             50.00             50.00             50.00             50.00

   public_service_8  public_service_9  survey_year  survey_hour  \
0             50.00             50.00         2015           14
1             60.00             60.00         2015           15
2             90.00             75.00         2015           13
3             80.00             80.00         2015           17
4             50.00             50.00         2015            9

   survey_week_day  age  has_edu_yer  edu_age  s_age  f_age  m_age  \
0                1   56            0     0.00  57.00   0.00   0.00
1                1   23            1    21.00   0.00  43.00  42.00
2                1   48            0     0.00  47.00   0.00   0.00
3                5   72            1    16.00   0.00   0.00   0.00
4                0   21            1    20.00   0.00  45.00  43.00

   marital_1st_age  marital_now_age  if_exp_inc
0            25.00            25.00           0
1             0.00             0.00           0
2            23.00            23.00           0
3            17.00             0.00           0
4             0.00             0.00           0

In [50]:
### 删除 birth 字段 【漏删了】
all_datas.drop(['birth'],axis=1,inplace=True)

In [51]:
### todo：考虑一些特征工程的操作 也可以放在模型训练的时候去考虑（一般都是这样）
## onehot，连续数据标准化，归一化 （决策树相关的模型，特征工程的操作可以不做）
## 如果是一些跟距离的计算相关的一些算法 ===》特征工程 svm，线性回归，knn
## 最终看效果

In [52]:
## 处理好后的all_datas 进行一个存储为【训练数据，训练的标签】和测试数据
train_process_datas_x = all_datas.iloc[:train_datas_X.shape[0],:]
test_process_datas = all_datas.iloc[train_datas_X.shape[0]:,:]
print(train_process_datas_x.shape)
print(test_process_datas.shape)

(8000, 139)
(2968, 139)

In [53]:
### 保存为csv的数据
dir_path = './processs_datas'
import os
if os.path.exists(dir_path):
    pass
else:
    os.makedirs(dir_path)


train_process_datas_x.to_csv(dir_path+'/train_process_datas_x.csv',index=False)
test_process_datas.to_csv(dir_path+'/test_process_datas.csv',index=False)
train_datas_Y.to_csv(dir_path+'/train_datas_Y.csv',index=False)
print(train_datas_Y['happiness'].value_counts())
## 删除缺失的Y的时候，对应的x也要删除掉

 4    4818
 5    1410
 3    1159
 2     497
 1     104
-8      12
Name: happiness, dtype: int64